.s3files {

	.is-hidden {
		@include transition(all .1s ease-out);
		visibility: hidden;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
	}

	.is-visible {
		@include transition(all .1s ease-out);
		visibility: visible;
		max-height: 999px;
		opacity: 1.0;
		overflow: auto;
	}

	.progress {
		width: 100%;
	}

	.progress-bar {
		padding: 0 15px 10px 15px;

		&.is-hidden {
			padding: 0;
		}

		progress {
			width: 90%;
			float: left;

			&[value] {
				@include appearance( none );
				height: 20px;
			}

			&[value]::-webkit-progress-bar {
				background-color: #EDEDE7;
				border-radius: 2px;
				box-shadow: inset 0 1px 1px rgba( 0,0,0,0.2 );
				overflow: hidden;
			}

			&[value]::-webkit-progress-value {
				background-size: 40px 20px, 100% 100%, 100% 100%;
				@include background-image(linear-gradient(-45deg,
					transparent 33%, rgba(0, 0, 0, .1) 33%,
					rgba(0,0, 0, .1) 66%, transparent 66%),
					linear-gradient(left, #4AAE4E, #4AAE4E) );
				box-shadow: inset 0 1px 1px rgba( 0,0,0,0.2 );
			}

			&.uploading[value]::-webkit-progress-value {
				-webkit-animation: animate-stripes 5s linear infinite;
						animation: animate-stripes 5s linear infinite;
			}
		}

		.prc {
			width: 10%;
			color: #AAAAAA;
			float: right;
			font-size: 80%;
			text-align: center;
		}

	}

	@include keyframes( animate-stripes ) {
		100% {
			background-position: -100px 0px;
		}
		100% {
			background-position: -100px 0px;
		}
	}

	.success {
		@include clearfix;
	}

	.filename-display,
	.success {
		@include bg-img(icon-success, png, 0, center);
		display: block;
		padding-left: 30px;

		strong,
		.remove {
			display: block;
			float: left;
		}
	}

	.remove {
		$size: 14px;
		@include hide-text;
		@include bg-img(icon-success, png, 0, center);
		height: 50px;
		margin-left: 6px;
		width: $size;

		&:hover {
			background-position: -14px center;
		}
	}

}