//  $$$$$$$\                                     $$\                     $$\    $$\ $$\
//  $$  __$$\                                    $$ |                    $$ |   $$ |\__|
//  $$ |  $$ | $$$$$$\  $$$$$$\$$$$\   $$$$$$\ $$$$$$\    $$$$$$\        $$ |   $$ |$$\  $$$$$$\  $$\  $$\  $$\
//  $$$$$$$  |$$  __$$\ $$  _$$  _$$\ $$  __$$\\_$$  _|  $$  __$$\       \$$\  $$  |$$ |$$  __$$\ $$ | $$ | $$ |
//  $$  __$$< $$$$$$$$ |$$ / $$ / $$ |$$ /  $$ | $$ |    $$$$$$$$ |       \$$\$$  / $$ |$$$$$$$$ |$$ | $$ | $$ |
//  $$ |  $$ |$$   ____|$$ | $$ | $$ |$$ |  $$ | $$ |$$\ $$   ____|        \$$$  /  $$ |$$   ____|$$ | $$ | $$ |
//  $$ |  $$ |\$$$$$$$\ $$ | $$ | $$ |\$$$$$$  | \$$$$  |\$$$$$$$\          \$  /   $$ |\$$$$$$$\ \$$$$$\$$$$  |
//  \__|  \__| \_______|\__| \__| \__| \______/   \____/  \_______|          \_/    \__| \_______| \_____\____/
//
//
//

// ---------------------------------------------------------------------------------
// Default Variables
// ---------------------------------------------------------------------------------
$border-default: 1px solid $color-tan-mid; // Default Border for elements
$control-bar-element-size: 32; // Used for element sizes. Height for .directory-nav and .option-file-view a
$control-bar-element-border-radius: em(5);

// ---------------------------------------------------------------------------------
// Layout
// ---------------------------------------------------------------------------------
.s3files .remote-view {
	@include box-sizing( border-box );
	clear: both;

	a {
		color: $color-gray-dark;
	}

	// Inner wrap.
	.inner {
		background-color: $color-white;
		border: $border-default;
		margin: em(10);
	}

	// Top "control" bar
	.control-bar {
		@include clearfix;
		@include background-image(linear-gradient( $color-white, $color-tan-light ));
		border-bottom: $border-default;
		padding: em(8);
	}

	// Directory Nav Drop-down
	.directory-nav {
		float: left;
		width: 85%;

		// The visibily 'selected' directory in the drop-down
		.directory-active {
			@include bg-img(icon-directory-chooser, png, 8px, right, center);
			border-radius: $control-bar-element-border-radius;
			border: $border-default;
			color: $color-gray-mid;
			display: block;
			font-weight: bold;
			height: em($control-bar-element-size);
			line-height: em($control-bar-element-size);
			padding: 0 em(8);
		}

		// The span inside of a.directory-active w/ the currently selected directory
		.selected-directory {
			@include bg-img(icon-s3-files-directory, png, 28px, 0, center);
			display: block;
			height: em($control-bar-element-size);
			line-height: em($control-bar-element-size);
			padding-left: em(36);
		}
	}

	// List/Grid Buttons
	.option-file-view {
		@include clearfix;
		float: right;

		a {
			@include image-replacement( $control-bar-element-size, $control-bar-element-size );
			border: $border-default;
			display: block;
			float: left;
			height: em($control-bar-element-size);
			width: em($control-bar-element-size);

			&.view-list {
				@include bg-img(icon-view-toggle-list, png, 14px, center, center);
				border-radius: $control-bar-element-border-radius 0 0 $control-bar-element-border-radius;
			}

			&.view-grid {
				@include bg-img(icon-view-toggle-grid, png, 12px, center, center);
				border-radius: 0 $control-bar-element-border-radius $control-bar-element-border-radius 0;
				margin-left: -1px;
			}

			&.selected {
				background-color: lighten( $color-tan-mid, 10 );
				box-shadow: inset 0 1px 2px rgba( $color-black, 0.2 );
			}
		}
	}

	// S3 View
	.s3-view {
		max-height: em(200);
		overflow-y: auto;
	}

	// Table List View
	.s3-view .view-list {

		table {
			width: 100%;
		}

		th {
			color: darken( $color-tan-mid, 25 );
			font-size: 80%;
			//font-weight: normal;
			text-align: left;
		}

		th,
		td {
			border: 0;
			padding: em(8);
			vertical-align: middle;
		}

		tr {
			border: 1px solid lighten( $color-tan-mid, 12 );
		}

		.head-name {
			width: 60%;
		}

		.head-size {
			width: 15%;
		}

		.head-date {
			width: 25%;
		}

		span.time {
			color: $color-gray;
			font-size: 80%;
			line-height: 90%;
			white-space: nowrap;
		}
	}

	// Action Bar
	.action-bar {
		@include background-image(linear-gradient( $color-white, $color-tan-light ));
		@include clearfix;
		border-top: $border-default;
		padding: em(15);

		.upload {
			float: left;
			text-align: left;
			width: 75%;
		}

		.select {
			float: right;
			text-align: right;
			width: 25%;
		}

		.btn {
			margin: 0;
		}
	}
}