//  $$\   $$\           $$\                           $$\       $$\  $$$$$$\  $$\
//  $$ |  $$ |          $$ |                          $$ |     $$  |$$  __$$\ $$ |
//  $$ |  $$ | $$$$$$\  $$ | $$$$$$\   $$$$$$\   $$$$$$$ |    $$  / $$ /  \__|$$$$$$$\   $$$$$$\   $$$$$$\   $$$$$$$\  $$$$$$\
//  $$ |  $$ |$$  __$$\ $$ |$$  __$$\  \____$$\ $$  __$$ |   $$  /  $$ |      $$  __$$\ $$  __$$\ $$  __$$\ $$  _____|$$  __$$\
//  $$ |  $$ |$$ /  $$ |$$ |$$ /  $$ | $$$$$$$ |$$ /  $$ |  $$  /   $$ |      $$ |  $$ |$$ /  $$ |$$ /  $$ |\$$$$$$\  $$$$$$$$ |
//  $$ |  $$ |$$ |  $$ |$$ |$$ |  $$ |$$  __$$ |$$ |  $$ | $$  /    $$ |  $$\ $$ |  $$ |$$ |  $$ |$$ |  $$ | \____$$\ $$   ____|
//  \$$$$$$  |$$$$$$$  |$$ |\$$$$$$  |\$$$$$$$ |\$$$$$$$ |$$  /     \$$$$$$  |$$ |  $$ |\$$$$$$  |\$$$$$$  |$$$$$$$  |\$$$$$$$\
//   \______/ $$  ____/ \__| \______/  \_______| \_______|\__/       \______/ \__|  \__| \______/  \______/ \_______/  \_______|
//            $$ |
//            $$ |
//            \__|
// The Tabbed Upload/Choose interface

// ---------------------------------------------------------------------------------
// Default Variables
// ---------------------------------------------------------------------------------
$border-default: 1px solid $color-tan-mid; // Default Border for elements
$control-bar-element-size: 32; // Used for element sizes. Height for .directory-nav and .option-file-view a
$control-bar-element-border-radius: em(5);

.s3files {
	min-height: 52px; // Set this so when hiding/showing elements, it doesn't have a weird 'ugh'
}

.s3files .s3-add-file {
	@include box-sizing( border-box );
	clear: both;
	padding: em(15);

	&.is-hidden {
		max-height: 0;
		padding: 0;
	}

	p {
		float: none;
	}

	// Tab Navigation
	.tabs {
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;
		text-align: center;
		z-index: 1;

		@include media($small) {
			//overflow: hidden;
		}

		li {
			border-top: $border-default;
			display: inline-block;

			@include media($small) {
				width: 50%;
			}

			&.active {

				a {
					border-bottom: 1px solid $color-white;
				}

				a,
				a:hover {
					background-color: $color-white;
					color: $color-gray-dark;
				}
			}

			&:first-child.active a {
				margin-right: -1px;
			}

			&:last-child.active a {
				margin-left: -1px;
			}

			a {
				@include transition( all 0.2s ease-in );
				background-color: lighten( $color-tan-mid, 8 );
				border: {
					right: $border-default;
					bottom: $border-default;
					left: $border-default;
				}
				color: darken( $color-tan-mid, 35 );
				display: block;

				@include media($large) {
					padding: em(8) em(18);
					width: em(160);
				}

				@include media($medium) {
					padding: em(8) em(18);
					width: em(160);
				}

				@include media($small) {
					font-size: 90%;
					padding: em(8) em(5);
				}

				&:hover {
					background-color: $color-tan-mid;
				}
			}
		}


	}

	// ACTION bar
	.action-bar {
		background-color: $color-white;
		@include background-image(linear-gradient( $color-white, $color-tan-light ));
		border: {
			right: $border-default;
			bottom: $border-default;
			left: $border-default;
		}
		padding: em(8);
		text-align: right;
	}

	// The Content Area
	.content {
		background-color: $color-white;
		border: $border-default;
		margin-top: -1px;
		padding: em(15);
		text-align: center;
	}

	// ----------------------------------------------------
	// Upload Tab
	// ----------------------------------------------------

	// Choose File
	.choose-file {
		padding: em(15) 0;
	}

	// File Wrapper -- http://viget.com/inspire/custom-file-inputs-with-a-bit-of-jquery
	.file-wrapper {
		cursor: pointer;
		display: inline-block;
		overflow: hidden;
		position: relative;

		input {
			cursor: pointer;
			font-size: em(100);
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			filter: alpha(opacity=1); // IE
			opacity: 0.01;
		}
	}

	// Successfull Upload
	.upload-success {

		span {
			@include bg-img(icon-success, png, 23px, 0, center);
			padding-left: 30px;
		}
	}

	// ----------------------------------------------------
	// Choose Existing
	// ----------------------------------------------------

	// Breadcrumb Nav
	.breadcrumb {
		@include clearfix;
		background-color: $color-white;
		@include background-image(linear-gradient( $color-white, $color-tan-light ));
		border: $border-default;
		border-radius: 4px;
		text-align: left;
		margin: 0 0 em(15) 0;
		padding: em(8) 0;

		li {
			$height: em(28);
			display: inline-block;
			font-size: 90%;
			height: $height;
			line-height: $height;
			padding: 0;
			position: relative;

			&:after {
				content: ' ';
				@include bg-img(bg-breadcrumb-tip, png, 10px, em(0), center);
				@include position( absolute, em(0) em(-13) 0 0 );
				display: block;
				width: em(18);
				height: em(28);
			}

			&:last-child {

				&:after {
					width: 0;
					height: 0;
				}
			}

			// Current directory (not an href)
			&.current {
				background-color: lighten( $color-tan-mid, 7 );
				box-shadow: inset 0 1px 1px rgba( $color-black, 0.2 );
				color: darken( $color-tan-mid, 46 );
				font-weight: 600;
				margin-left: em(18);
				padding: 0 em(8);
			}
		}

		li a {
			color: darken( $color-tan-mid, 40 );
			display: block;
			padding: 0 em(15);

			&:hover {
				color: darken( $color-tan-mid, 60 );
			}
		}
	}

	// Wrap for List (Table) View
	.view-list {
		border: $border-default;
		height: em(270);
		overflow-y: scroll;
		text-align: left;
		-webkit-overflow-scrolling: touch;

		.ajax-spinner {
			background-color: $color-black;
			color: $color-gray-mid;
		}

		table {
			width: 100%;
		}

		thead {
			background-color: lighten( $color-tan-light, 2 );
		}

		th,
		td {
			border: 0;
			vertical-align: middle;
		}

		th {
			color: darken( $color-tan-mid, 25 );
			font-size: 80%;
			//font-weight: normal;
			text-align: left;
			padding: {
				top: em(15);
				right: em(8);
				bottom: em(15);
				left: em(8);
			}
		}

		td {
			padding: em(8);

			a {
				color: $color-gray-dark;
			}
		}

		tr {
			border-bottom: 1px solid lighten( $color-tan-mid, 12 );
			@include transition( all 0.2 ease-in-out );

			&.is-highlighted {
				background-color: $color-blue-light;
			}
		}

		.head-name {
			width: 65%;
		}

		.head-size {
			width: 15%;
		}

		.head-date {
			width: 20%;
		}

		// Icons
		.is-file,
		.is-directory {
			padding-left: em(35);
		}

		.is-directory {
			@include bg-img(icon-view-list-directory, png, 18px, em(8), center);
			cursor: alias;
		}

		.is-file {
			@include bg-img(icon-view-list-file, png, 13px, em(12), center);
		}

		span.time {
			color: $color-gray;
			font-size: 80%;
			line-height: 90%;
			white-space: nowrap;
		}
	}
}
