//  $$\   $$\           $$\                           $$\       $$\  $$$$$$\  $$\
//  $$ |  $$ |          $$ |                          $$ |     $$  |$$  __$$\ $$ |
//  $$ |  $$ | $$$$$$\  $$ | $$$$$$\   $$$$$$\   $$$$$$$ |    $$  / $$ /  \__|$$$$$$$\   $$$$$$\   $$$$$$\   $$$$$$$\  $$$$$$\
//  $$ |  $$ |$$  __$$\ $$ |$$  __$$\  \____$$\ $$  __$$ |   $$  /  $$ |      $$  __$$\ $$  __$$\ $$  __$$\ $$  _____|$$  __$$\
//  $$ |  $$ |$$ /  $$ |$$ |$$ /  $$ | $$$$$$$ |$$ /  $$ |  $$  /   $$ |      $$ |  $$ |$$ /  $$ |$$ /  $$ |\$$$$$$\  $$$$$$$$ |
//  $$ |  $$ |$$ |  $$ |$$ |$$ |  $$ |$$  __$$ |$$ |  $$ | $$  /    $$ |  $$\ $$ |  $$ |$$ |  $$ |$$ |  $$ | \____$$\ $$   ____|
//  \$$$$$$  |$$$$$$$  |$$ |\$$$$$$  |\$$$$$$$ |\$$$$$$$ |$$  /     \$$$$$$  |$$ |  $$ |\$$$$$$  |\$$$$$$  |$$$$$$$  |\$$$$$$$\
//   \______/ $$  ____/ \__| \______/  \_______| \_______|\__/       \______/ \__|  \__| \______/  \______/ \_______/  \_______|
//            $$ |
//            $$ |
//            \__|
// The Tabbed Upload/Choose interface

// ---------------------------------------------------------------------------------
// Default Variables
// ---------------------------------------------------------------------------------
$border-default: 1px solid $color-tan-mid; // Default Border for elements
$control-bar-element-size: 32; // Used for element sizes. Height for .directory-nav and .option-file-view a
$control-bar-element-border-radius: em(5);

.s3files .s3-add-file {
	@include box-sizing( border-box );
	clear: both;
	padding: em(15);

	p {
		float: none;
	}

	// Tab Navigation
	.tabs {
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;
		text-align: center;
		z-index: 2;

		li {
			border: $border-default;
			display: inline-block;

			&.active {
				border-bottom-color: $color-white;

				a,
				a:hover {
					background-color: $color-white;
					color: $color-gray-dark;
				}
			}

			&:last-child {
				margin-left: -1px;
			}

			a {
				background-color: lighten( $color-tan-mid, 8 );
				color: darken( $color-tan-mid, 35 );
				display: block;
				padding: em(8) em(18);
				width: em(130);

				&:hover {
					background-color: $color-tan-mid;
				}
			}
		}


	}

	// ACTION bar
	.action-bar {
		background-color: $color-white;
		@include background-image(linear-gradient( $color-white, $color-tan-light ));
		border: {
			right: $border-default;
			bottom: $border-default;
			left: $border-default;
		}
		padding: em(8);
		text-align: right;
	}

	// The Content Area
	.content {
		background-color: $color-white;
		border: $border-default;
		margin-top: -1px;
		padding: em(15);
		text-align: center;
	}

	// ----------------------------------------------------
	// Upload Tab
	// ----------------------------------------------------

	// Choose File
	.choose-file {
		padding: em(15) 0;
	}

	// File Wrapper -- http://viget.com/inspire/custom-file-inputs-with-a-bit-of-jquery
	.file-wrapper {
		cursor: pointer;
		display: inline-block;
		overflow: hidden;
		position: relative;

		input {
			cursor: pointer;
			font-size: em(100);
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			filter: alpha(opacity=1); // IE
			opacity: 0.01;
		}
	}

	// Successfull Upload
	.upload-success {

		span {
			@include bg-img(icon-success, png, 23px, 0, center);
			padding-left: 30px;
		}
	}

	// ----------------------------------------------------
	// Choose Existing
	// ----------------------------------------------------

	// Breadcrumb Nav
	.breadcrumb {
		@include clearfix;
		list-style-type: none;
		margin: 0 0 em(15) 0;
		overflow: hidden;
		padding: 0;
		text-align: left;
		width: 100%;

		li {
			$height: 22px;
			$radius: 4px;
			font-size: 90%;
			display: block;
			float: left;
			margin-left: -1px;

			a {
				@include bg-img(bg-breadcrumb, png, 297px, left, top, repeat-x);
				border: $border-default;
				color: darken( $color-tan-mid, 35 );
				display: block;
				height: $height;
				line-height: $height;
				padding: 0 5px 0 20px;
				position: relative;

				&:after {
					@include bg-img(bg-breadcrumb-tip, png, 16px, left, center);
					position: absolute;
					top: 0;
					right: -15px;
					content: ' ';
					display: block;
					height: $height;
					width: 16px;
					z-index: 2;
				}

				&:hover {
					color: darken( $color-tan-mid, 25 );
				}
			}

			&.current a {
				@include bg-img(bg-breadcrumb, png, 297px, left, bottom, repeat-x);
				box-shadow: inset 0 1px 1px rgba( $color-black, 0.1 );
				color: darken( $color-tan-mid, 50 );
			}

			&:first-child {
				margin-left: 0;

				a {
					border-radius: $radius 0 0 $radius;
					padding-left: 10px;
				}
			}

			&:last-child {

				a {
					border-radius: 0 $radius $radius 0;
					padding-right: 10px;

					&:after {
						background-image: none;
						width: 0;
						height: 0;
					}
				}
			}
		}
	}

	// Wrap for List (Table) View
	.view-list {
		border: $border-default;
		height: em(200);
		overflow-y: scroll;
		text-align: left;

		table {
			width: 100%;
		}

		thead {
			background-color: lighten( $color-tan-light, 2 );
		}

		th,
		td {
			border: 0;
			vertical-align: middle;
		}

		th {
			color: darken( $color-tan-mid, 25 );
			font-size: 80%;
			//font-weight: normal;
			text-align: left;
			padding: {
				top: em(15);
				right: em(8);
				bottom: em(15);
				left: em(8);
			}
		}

		td {
			padding: em(8);
		}

		tr {
			border-bottom: 1px solid lighten( $color-tan-mid, 12 );
		}

		.head-name {
			width: 65%;
		}

		.head-size {
			width: 15%;
		}

		.head-date {
			width: 20%;
		}

		// Icons
		.is-file,
		.is-directory {
			padding-left: em(35);
		}

		.is-directory {
			@include bg-img(icon-view-list-directory, png, 18px, em(8), center);
		}

		.is-file {
			@include bg-img(icon-view-list-file, png, 13px, em(12), center);
		}

		span.time {
			color: $color-gray;
			font-size: 80%;
			line-height: 90%;
			white-space: nowrap;
		}
	}
}
