.clearfix:before, .s3files .success:before,
.clearfix:after,
.s3files .success:after {
  content: "";
  display: table;
}

.clearfix:after, .s3files .success:after {
  clear: both;
}

.clearfix, .s3files .success {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.s3files .is-hidden {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
.s3files .is-visible {
  visibility: visible;
  max-height: 999px;
  opacity: 1.0;
  overflow: auto;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
.s3files .progress {
  width: 100%;
}
.s3files .progress-bar {
  padding: 0 15px 10px 15px;
}
.s3files .progress-bar.is-hidden {
  padding: 0;
}
.s3files .progress-bar progress {
  width: 90%;
  float: left;
}
.s3files .progress-bar progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
}
.s3files .progress-bar progress[value]::-webkit-progress-bar {
  background-color: #EDEDE7;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.s3files .progress-bar progress[value]::-webkit-progress-value {
  background-size: 40px 20px, 100% 100%, 100% 100%;
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(left, #4aae4e, #4aae4e);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
.s3files .progress-bar progress.uploading[value]::-webkit-progress-value {
  -webkit-animation: animate-stripes 5s linear infinite;
  animation: animate-stripes 5s linear infinite;
}
.s3files .progress-bar .prc {
  width: 10%;
  color: #AAAAAA;
  float: right;
  font-size: 80%;
  text-align: center;
}
@-webkit-keyframes animate-stripes {
  .s3files 100%  {
    background-position: -100px 0px;
  }
}
@keyframes animate-stripes {
  .s3files 100%  {
    background-position: -100px 0px;
  }
}
.s3files .filename-display,
.s3files .success {
  background: url("../assets/img/icon-success.png") 0 center no-repeat !important;
  display: block;
  padding-left: 30px;
}
.s3files .filename-display strong,
.s3files .filename-display .remove,
.s3files .success strong,
.s3files .success .remove {
  display: block;
  float: left;
}
.s3files .remove {
  background: url("../assets/img/icon-remove.png") 0 center no-repeat;
  height: 50px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 6px;
  width: 14px;
}
.s3files .remove:hover {
  background-position: -14px center;
}
