// ---------------------------------------------------------------------------------
// Background Image
// ---------------------------------------------------------------------------------

@mixin bg-img($file, $extension, $width, $pos-x: 0, $pos-y: 0, $repeat: no-repeat) {
	background: url($bg-img-path + $file + '.' + $extension) $pos-x $pos-y $repeat;
	@include hidpi( 1.3 ) {
		background: url($bg-img-path + $file + '@2x' + '.' + $extension) $pos-x $pos-y $repeat;
		background-size: $width auto;
	}
}

// ---------------------------------------------------------------------------------
// Image Replacement
// ---------------------------------------------------------------------------------

@mixin image-replacement( $width, $height ) {
	display: block;
	height: $height;
	overflow: hidden;
	width: $width;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
	}
}
