//   $$$$$$\                                                                   $$$$$$\    $$\               $$\
//  $$  __$$\                                                                 $$  __$$\   $$ |              $$ |
//  $$ /  \__| $$$$$$\  $$$$$$\$$$$\  $$$$$$\$$$$\   $$$$$$\  $$$$$$$\        $$ /  \__|$$$$$$\   $$\   $$\ $$ | $$$$$$\   $$$$$$$\
//  $$ |      $$  __$$\ $$  _$$  _$$\ $$  _$$  _$$\ $$  __$$\ $$  __$$\       \$$$$$$\  \_$$  _|  $$ |  $$ |$$ |$$  __$$\ $$  _____|
//  $$ |      $$ /  $$ |$$ / $$ / $$ |$$ / $$ / $$ |$$ /  $$ |$$ |  $$ |       \____$$\   $$ |    $$ |  $$ |$$ |$$$$$$$$ |\$$$$$$\
//  $$ |  $$\ $$ |  $$ |$$ | $$ | $$ |$$ | $$ | $$ |$$ |  $$ |$$ |  $$ |      $$\   $$ |  $$ |$$\ $$ |  $$ |$$ |$$   ____| \____$$\
//  \$$$$$$  |\$$$$$$  |$$ | $$ | $$ |$$ | $$ | $$ |\$$$$$$  |$$ |  $$ |      \$$$$$$  |  \$$$$  |\$$$$$$$ |$$ |\$$$$$$$\ $$$$$$$  |
//   \______/  \______/ \__| \__| \__|\__| \__| \__| \______/ \__|  \__|       \______/    \____/  \____$$ |\__| \_______|\_______/
//                                                                                                $$\   $$ |
//                                                                                                \$$$$$$  |
//                                                                                                 \______/

// Border Box all the things!
.fileclerk,
.fileclerk:before,
.fileclerk:after {
	@include box-sizing(border-box);
}

.fileclerk {
	background-color: $color-tan-light;
	border: 1px solid $color-tan-mid;
	min-height: 52px; // Set this so when hiding/showing elements, it doesn't have a weird 'ugh'
	z-index: 1;

	@include media($small) {
		padding-bottom: 0;

		.btn {
			margin-top: 15px;
		}
	}

	&.file-field-container {

		img {
			max-height: inherit;
			max-width: inherit;
		}
	}

	p, li {
		line-height: 1.4;
	}

	p {
		padding-top: 15px;
	}

	pre {
		margin: 0;
	}

	// YAY class for a successful upload/choose existing
	&.yay {
		@include animation( bounceIn .8s );
		@include animation-fill-mode( both );
		position: relative;
		z-index: 1;

		&:after {
			@include animation( fadeInOut 4.0s );
			@include animation-fill-mode( both );
			@include position( absolute, 0px 0 0 0px );
			box-shadow: 0 0 10px rgba( $color-blue-gray-light, 0.5 );
			display: block;
			height: 100%;
			width: 100%;
			z-index: -1;
		}
	}

	.filename-display {
		display: inline-block;
		margin: em(15) 0 0 em(15);
		@include bg-img(icon-success, png, 23px, 0, center, no-repeat);
		padding-left: 30px;
		position: relative;

		@include media($small) {
			position: inherit;
		}

		a {
			color: $color-gray-dark;
		}
	}

	// AJAX Spinner
	.ajax-spinner {
		background-color: $color-black;
		color: $color-gray-mid;
		z-index: 500;
	}
}