//  $$\   $$\           $$\                           $$\       $$\  $$$$$$\  $$\
//  $$ |  $$ |          $$ |                          $$ |     $$  |$$  __$$\ $$ |
//  $$ |  $$ | $$$$$$\  $$ | $$$$$$\   $$$$$$\   $$$$$$$ |    $$  / $$ /  \__|$$$$$$$\   $$$$$$\   $$$$$$\   $$$$$$$\  $$$$$$\
//  $$ |  $$ |$$  __$$\ $$ |$$  __$$\  \____$$\ $$  __$$ |   $$  /  $$ |      $$  __$$\ $$  __$$\ $$  __$$\ $$  _____|$$  __$$\
//  $$ |  $$ |$$ /  $$ |$$ |$$ /  $$ | $$$$$$$ |$$ /  $$ |  $$  /   $$ |      $$ |  $$ |$$ /  $$ |$$ /  $$ |\$$$$$$\  $$$$$$$$ |
//  $$ |  $$ |$$ |  $$ |$$ |$$ |  $$ |$$  __$$ |$$ |  $$ | $$  /    $$ |  $$\ $$ |  $$ |$$ |  $$ |$$ |  $$ | \____$$\ $$   ____|
//  \$$$$$$  |$$$$$$$  |$$ |\$$$$$$  |\$$$$$$$ |\$$$$$$$ |$$  /     \$$$$$$  |$$ |  $$ |\$$$$$$  |\$$$$$$  |$$$$$$$  |\$$$$$$$\
//   \______/ $$  ____/ \__| \______/  \_______| \_______|\__/       \______/ \__|  \__| \______/  \______/ \_______/  \_______|
//            $$ |
//            $$ |
//            \__|
// The Tabbed Upload/Choose interface

// ---------------------------------------------------------------------------------
// Default Variables
// ---------------------------------------------------------------------------------
$border-default: 1px solid $color-tan-mid; // Default Border for elements
$control-bar-element-size: 32; // Used for element sizes. Height for .directory-nav and .option-file-view a
$control-bar-element-border-radius: em(5);

// Border Box all the things!
.fileclerk,
.fileclerk:before,
.fileclerk:after {
	@include box-sizing(border-box);
}

.fileclerk {
	min-height: 52px; // Set this so when hiding/showing elements, it doesn't have a weird 'ugh'
	z-index: 1;

	@include media($small) {
		padding-bottom: 0;

		.btn {
			margin-top: 15px;
		}
	}

	&.file-field-container {

		img {
			max-height: inherit;
			max-width: inherit;
		}
	}

	p, li {
		line-height: 1.4;
	}

	p {
		padding-top: 15px;
	}

	pre {
		margin: 0;
	}

	// YAY class for a successful upload/choose existing
	&.yay {
		@include animation( bounceIn .8s );
		@include animation-fill-mode( both );
		position: relative;
		z-index: 1;

		&:after {
			@include animation( fadeInOut 4.0s );
			@include animation-fill-mode( both );
			@include position( absolute, 0px 0 0 0px );
			box-shadow: 0 0 10px rgba( $color-blue-gray-light, 0.5 );
			display: block;
			height: 100%;
			width: 100%;
			z-index: -1;
		}
	}

	.filename-display {
		display: inline-block;
		margin: em(15) 0 0 em(15);
		@include bg-img(icon-success, png, 23px, 0, center, no-repeat);
		padding-left: 30px;
		position: relative;

		@include media($small) {
			position: inherit;
		}

		a {
			color: $color-gray-dark;
		}
	}

	// AJAX Spinner
	.ajax-spinner {
		background-color: $color-black;
		color: $color-gray-mid;
		z-index: 500;
	}
}

//   $$$$$$\        $$\       $$\       $$$$$$$$\ $$\ $$\
//  $$  __$$\       $$ |      $$ |      $$  _____|\__|$$ |
//  $$ /  $$ | $$$$$$$ | $$$$$$$ |      $$ |      $$\ $$ | $$$$$$\
//  $$$$$$$$ |$$  __$$ |$$  __$$ |      $$$$$\    $$ |$$ |$$  __$$\
//  $$  __$$ |$$ /  $$ |$$ /  $$ |      $$  __|   $$ |$$ |$$$$$$$$ |
//  $$ |  $$ |$$ |  $$ |$$ |  $$ |      $$ |      $$ |$$ |$$   ____|
//  $$ |  $$ |\$$$$$$$ |\$$$$$$$ |      $$ |      $$ |$$ |\$$$$$$$\
//  \__|  \__| \_______| \_______|      \__|      \__|\__| \_______|
//
//
//

.fileclerk .add-file {
	@include box-sizing( border-box );
	clear: both;
	padding: em(15);

	&.is-hidden {
		max-height: 0;
		padding: 0;
	}

	p {
		float: none;
	}

	// Tab Navigation
	.tabs {
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;
		text-align: center;
		z-index: 1;

		@include media($small) {
			//overflow: hidden;
		}

		li {
			border-top: $border-default;
			display: inline-block;

			@include media($small) {
				width: 50%;
			}

			&.active {

				a {
					border-bottom: 1px solid $color-white;
				}

				a,
				a:hover {
					background-color: $color-white;
					color: $color-gray-dark;
				}
			}

			&:first-child.active a {
				margin-right: -1px;
			}

			&:last-child.active a {
				margin-left: -1px;
			}

			a {
				@include transition( all 0.2s ease-in );
				background-color: lighten( $color-tan-mid, 8 );
				border: {
					right: $border-default;
					bottom: $border-default;
					left: $border-default;
				}
				color: darken( $color-tan-mid, 35 );
				display: block;

				@include media($large) {
					padding: em(8) em(18);
					width: em(160);
				}

				@include media($medium) {
					padding: em(8) em(18);
					width: em(160);
				}

				@include media($small) {
					font-size: 90%;
					padding: em(8) em(5);
				}

				&:hover {
					background-color: $color-tan-mid;
				}

				&.disabled {
					cursor: not-allowed;
				}
			}
		}


	}

	// ACTION bar
	.action-bar {
		background-color: $color-white;
		@include background-image(linear-gradient( $color-white, $color-tan-light ));
		border: $border-default;
		padding: em(8);
		text-align: right;
	}

	// The Content Area
	.content {
		background-color: $color-white;
		border: $border-default;
		margin-top: -1px;
		padding: em(15);
		text-align: center;
	}

	//  $$\   $$\           $$\                           $$\
	//  $$ |  $$ |          $$ |                          $$ |
	//  $$ |  $$ | $$$$$$\  $$ | $$$$$$\   $$$$$$\   $$$$$$$ |
	//  $$ |  $$ |$$  __$$\ $$ |$$  __$$\  \____$$\ $$  __$$ |
	//  $$ |  $$ |$$ /  $$ |$$ |$$ /  $$ | $$$$$$$ |$$ /  $$ |
	//  $$ |  $$ |$$ |  $$ |$$ |$$ |  $$ |$$  __$$ |$$ |  $$ |
	//  \$$$$$$  |$$$$$$$  |$$ |\$$$$$$  |\$$$$$$$ |\$$$$$$$ |
	//   \______/ $$  ____/ \__| \______/  \_______| \_______|
	//            $$ |
	//            $$ |
	//            \__|

	.view-upload {
		@include transition( max-height 0.5s ease );
		@include clearfix;
	}

	// File Wrapper -- http://viget.com/inspire/custom-file-inputs-with-a-bit-of-jquery
	.file-wrapper {
		cursor: pointer;
		display: inline-block;
		margin: em(25) auto;
		padding: em(2);
		overflow: hidden;
		position: relative;
		width: auto;

		input {
			border: 0;
			cursor: pointer;
			font-size: em(100);
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			filter: alpha(opacity=1); // IE
			opacity: 0.01;
			width: 100%;
		}

		&.is-hidden {
			margin: 0;
			height: 0;
		}
	}

	.progress-bar {
		@include clearfix;
		margin: em(25) 0;

		&.is-hidden {
			margin: 0;
		}
	}

	// Successfull Upload
	.upload-success {

		span {
			@include bg-img(icon-success, png, 23px, 0, center);
			padding-left: 30px;
		}
	}

	//   $$$$$$\  $$\
	//  $$  __$$\ $$ |
	//  $$ /  \__|$$$$$$$\   $$$$$$\   $$$$$$\   $$$$$$$\  $$$$$$\
	//  $$ |      $$  __$$\ $$  __$$\ $$  __$$\ $$  _____|$$  __$$\
	//  $$ |      $$ |  $$ |$$ /  $$ |$$ /  $$ |\$$$$$$\  $$$$$$$$ |
	//  $$ |  $$\ $$ |  $$ |$$ |  $$ |$$ |  $$ | \____$$\ $$   ____|
	//  \$$$$$$  |$$ |  $$ |\$$$$$$  |\$$$$$$  |$$$$$$$  |\$$$$$$$\
	//   \______/ \__|  \__| \______/  \______/ \_______/  \_______|
	//
	//
	//

	.view-remote {
		position: relative;
		overflow: hidden;
		z-index: 1;

		.ajax-overlay {
			@include position( absolute, 0px 0 0 0px );
			background-color: rgba( $color-white, 0.8 );
			width: 100%;
			height: 100%;
			z-index: 2;
		}
	}

	// Breadcrumb Nav
	.breadcrumb {
		@include clearfix;
		background-color: $color-white;
		@include background-image(linear-gradient( $color-white, $color-tan-light ));
		border: {
			top: $border-default;
			right: $border-default;
			left: $border-default;
		}
		border-radius: 4px 4px 0 0;
		text-align: left;
		margin: 0;
		padding: em(8) 0;
		vertical-align: middle;

		li {
			$height: em(28);
			display: block;
			float: left;
			font-size: 90%;
			height: $height;
			line-height: $height;
			padding: 0;
			position: relative;

			&:after {
				content: ' ';
				@include bg-img(bg-breadcrumb-tip, png, 10px, em(0), center);
				@include position( absolute, em(0) em(-13) 0 0 );
				display: block;
				width: em(18);
				height: em(28);
			}

			&:last-child {

				&:after {
					width: 0;
					height: 0;
				}
			}

			// Current directory (not an href)
			&.current {
				margin-left: em(18);
			}

			&.root {

				a {
					@include image-replacement(16px, em(28));
					@include bg-img(icon-breadcrumb-home, png, 16px, center, center, no-repeat);
					@include transition( opacity 0.2s ease-in-out );

					&:hover {
						opacity: 0.7;
					}
				}
			}
		}

		li a {
			$height: em(28);
			color: darken( $color-tan-mid, 40 );
			display: block;
			height: $height;
			line-height: $height;
			padding: 0 em(15);

			&:hover {
				color: darken( $color-tan-mid, 60 );
			}
		}
	}

	// Wrap for List (Table) View
	.view-list {
		border: $border-default;
		height: em(270);
		margin-bottom: -1px;
		overflow-y: scroll;
		position: relative;
		text-align: left;
		z-index: 1;
		-webkit-overflow-scrolling: touch;

		table {
			width: 100%;

			&.is-hidden {
				border-collapse: collapse;
				height: 0;

				thead, tr, th, td {
					height: 0;
					line-height: 0;
				}
			}
		}

		thead {
			background-color: lighten( $color-tan-light, 2 );
		}

		th,
		td {
			border: 0;
			vertical-align: middle;
		}

		th {
			color: darken( $color-tan-mid, 25 );
			font-size: 80%;
			//font-weight: normal;
			text-align: left;
			padding: {
				top: em(15);
				right: em(8);
				bottom: em(15);
				left: em(8);
			}

			&.sorting-asc:after,
			&.sorting-desc:after {
				content: ' ';
				display: inline-block;
				margin-left: 5px;
				width: 8px;
				height: 4px;
			}

			&.sorting-asc:after {
				@include bg-img(icon-arrow-ascending, png, 8px, 0, center, no-repeat);
			}

			&.sorting-desc:after {
				@include bg-img(icon-arrow-descending, png, 8px, 0, center, no-repeat);
			}
		}

		td {
			padding: em(8);

			a {
				color: $color-gray-dark;
			}
		}

		tr {
			border-bottom: 1px solid lighten( $color-tan-mid, 12 );
			@include transition( all 0.2 ease-in-out );

			&.is-highlighted {

				td {
					background-color: $color-blue-light;
				}

				td,
				.time {
					color: $color-white;
				}
			}
		}

		.head-name {
			width: 65%;
		}

		.head-size {
			width: 15%;
		}

		.head-date {
			width: 20%;
		}

		// Icons
		.is-file,
		.is-directory {
			padding-left: em(35);
		}

		.is-directory {
			@include bg-img(icon-view-list-directory, png, 18px, em(8), center);
			//cursor: alias;
		}

		.is-file {
			@include bg-img(icon-view-list-file, png, 13px, em(12), center);
		}

		span.time {
			color: $color-gray;
			font-size: 80%;
			line-height: 90%;
			white-space: nowrap;
		}

		.error-no-results {
			padding: em(35) em(15) em(15) em(15);
			text-align: center;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			.btn {
				float: none;
			}
		}
	}

	// Errors
	.upload-error {
		background-color: lighten( $color-tan-light, 3 );
		border: $border-default;
		border-radius: 4px;
	}
}

//  $$$$$$$\                                $$\   $$\
//  $$  __$$\                               $$ |  $$ |
//  $$ |  $$ | $$$$$$\   $$$$$$$\ $$\   $$\ $$ |$$$$$$\
//  $$$$$$$  |$$  __$$\ $$  _____|$$ |  $$ |$$ |\_$$  _|
//  $$  __$$< $$$$$$$$ |\$$$$$$\  $$ |  $$ |$$ |  $$ |
//  $$ |  $$ |$$   ____| \____$$\ $$ |  $$ |$$ |  $$ |$$\
//  $$ |  $$ |\$$$$$$$\ $$$$$$$  |\$$$$$$  |$$ |  \$$$$  |
//  \__|  \__| \_______|\_______/  \______/ \__|   \____/
//
//
//

.fileclerk .result {

	&.is-visible {
		overflow: visible;
	}

	&.is-hidden {
		overflow: hidden;
	}

	.preview {
		@include image_replacement( em(30), em(25) );
		@include transition( all 0.3s ease-in-out );
		@include bg-img(icon-preview-image, png, 20px, center, center);
		opacity: 0.5;
		vertical-align: middle;

		&:hover,
		&.active {
			opacity: 1.0;
		}
	}

	// Inline Preview!
	.inline-preview {
		$size: 300;
		$pad: 15;
		@include box-sizing(border-box);
		@include position( absolute, em(-($size + 8)) em(-($size/2) + 18) 0 0 );
		background-color: $color-white;
		border: 1px solid $color-tan-mid;
		border-radius: 3px;
		box-shadow: 0 0 1px rgba( $color-black, 0.2 );
		display: block;
		height: em($size);
		overflow: visible;
		padding: em($pad * 2) em($pad) em($pad) em($pad);
		width: em($size);
		z-index: 100;

		@include media($small) {
			@include position( absolute, em(-($size + 12)) 0 0 50% );
			margin-left: em(-($size/2));
		}

		&:after {
			$triangle-size: 20;
			@include position( absolute, 0 0 em(-($triangle-size+3)) em(($size/2)-($triangle-size)) );
			border: {
				left: $triangle-size+px solid transparent;
				right: $triangle-size+px solid transparent;
				top: $triangle-size+px solid $color-white;
			}
			content: '';
			display: block;
			height: 0;
			width: 0;
			z-index: 4;
		}

		&:before {
			$triangle-size: 20;
			@include position( absolute, 0 0 em(-($triangle-size+4)) em(($size/2)-($triangle-size)) );
			border: {
				left: $triangle-size+px solid transparent;
				right: $triangle-size+px solid transparent;
				top: $triangle-size+px solid $color-tan-mid;
			}
			content: '';
			display: block;
			height: 0;
			width: 0;
			z-index: 2;
		}

		&.is-hidden {
			@include transition( opacity 0.1s ease-out );
			height: 0;
			opacity: 0;
			padding: 0;
		}

		&.is-visible {
			@include transition( opacity 0.2s ease-in );
			opacity: 1.0;
		}

		// Where it loads
		.load {
			@include box-sizing(border-box);
			height: em( $size - ($pad * 2) - $pad );
			overflow-y: scroll;
			vertical-align: middle;
			width: 100%;

			img {
				max-width: 100%;

				@include media($small) {
					max-width: em($size - ($pad * 2));
				}
			}
		}

		.modal-close {
			$size: 25;
			@include position( absolute, em(4) em($pad - 8) 0 0 );
			@include image_replacement( em($size), em($size) );
			@include bg-img(icon-preview-close, png, 8px, center, center);
			@include transition( all 0.3s ease-in-out );
			opacity: 0.7;

			&:hover {
				opacity: 1.0;
			}
		}
	}
}

//  $$$$$$$$\                                               $$\      $$\
//  $$  _____|                                              $$$\    $$$ |
//  $$ |       $$$$$$\   $$$$$$\   $$$$$$\   $$$$$$\        $$$$\  $$$$ | $$$$$$\   $$$$$$$\  $$$$$$$\  $$$$$$\   $$$$$$\   $$$$$$\   $$$$$$$\
//  $$$$$\    $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\       $$\$$\$$ $$ |$$  __$$\ $$  _____|$$  _____| \____$$\ $$  __$$\ $$  __$$\ $$  _____|
//  $$  __|   $$ |  \__|$$ |  \__|$$ /  $$ |$$ |  \__|      $$ \$$$  $$ |$$$$$$$$ |\$$$$$$\  \$$$$$$\   $$$$$$$ |$$ /  $$ |$$$$$$$$ |\$$$$$$\
//  $$ |      $$ |      $$ |      $$ |  $$ |$$ |            $$ |\$  /$$ |$$   ____| \____$$\  \____$$\ $$  __$$ |$$ |  $$ |$$   ____| \____$$\
//  $$$$$$$$\ $$ |      $$ |      \$$$$$$  |$$ |            $$ | \_/ $$ |\$$$$$$$\ $$$$$$$  |$$$$$$$  |\$$$$$$$ |\$$$$$$$ |\$$$$$$$\ $$$$$$$  |
//  \________|\__|      \__|       \______/ \__|            \__|     \__| \_______|\_______/ \_______/  \_______| \____$$ | \_______|\_______/
//                                                                                                               $$\   $$ |
//                                                                                                               \$$$$$$  |
//                                                                                                                \______/

.fileclerk .error-message {
	@include animation( fadeIn .7s );
	@include animation-fill-mode( both );
	padding: em(25);

	&.no-render {
		padding: 0;

		ul {
			@include bg-img(icon-warning, png, 16px, 10px, center);
			margin-top: 15px;
			padding: 0 0 0 34px;
			text-align: left;
		}
	}

	ul {
		@include clearfix;
		list-style-type: none;
		margin: 0;
		padding: em(15) 0;
		text-align: center;

		li {
			display: inline-block;

			a {
				width: em(120);
			}
		}
	}

	pre {
		background-color: darken( $color-tan-light, 5 );
		color: darken( $color-tan-mid, 60 );
		display: inline-block;
		padding: 2px 5px;
	}

	.cancel {
		@include transition( all 0.2s ease-in-out );
		@include bg-img(icon-cancel, png, 14px, 0, center);
		color: $color-gray-lighter;
		font: {
			size: em(15);
			weight: 600;
		}
		padding-left: 16px;
		text-transform: uppercase;

		&:hover {
			color: $color-gray-light;
		}
	}

	.btn {
		float:  none;
	}
}