//   $$$$$$\  $$\
//  $$  __$$\ $$ |
//  $$ /  \__|$$$$$$$\   $$$$$$\   $$$$$$\   $$$$$$$\  $$$$$$\
//  $$ |      $$  __$$\ $$  __$$\ $$  __$$\ $$  _____|$$  __$$\
//  $$ |      $$ |  $$ |$$ /  $$ |$$ /  $$ |\$$$$$$\  $$$$$$$$ |
//  $$ |  $$\ $$ |  $$ |$$ |  $$ |$$ |  $$ | \____$$\ $$   ____|
//  \$$$$$$  |$$ |  $$ |\$$$$$$  |\$$$$$$  |$$$$$$$  |\$$$$$$$\
//   \______/ \__|  \__| \______/  \______/ \_______/  \_______|
//
//
//

.fileclerk {

	.view-remote {
		position: relative;
		overflow: hidden;
		z-index: 1;

		.ajax-overlay {
			@include position( absolute, 0px 0 0 0px );
			background-color: rgba( $color-white, 0.8 );
			width: 100%;
			height: 100%;
			z-index: 2;
		}

		// Inline Preview!
		.preview-position {
			display: inline-block;
		}

		.inline-preview {
			@include position( absolute, em(75) 0 0 50% );
			margin-left: em(-($inline-preview-size / 2));
			z-index: 3;
		}
	}

	// Breadcrumb Nav
	.breadcrumb {
		@include clearfix;
		background-color: $color-white;
		@include background-image(linear-gradient( $color-white, $color-tan-light ));
		border: {
			top: $border-default;
			right: $border-default;
			left: $border-default;
		}
		border-radius: 4px 4px 0 0;
		text-align: left;
		margin: 0;
		padding: em(8) 0;
		vertical-align: middle;

		li {
			$height: em(28);
			display: block;
			float: left;
			font-size: 90%;
			height: $height;
			line-height: $height;
			padding: 0;
			position: relative;

			&:after {
				content: ' ';
				@include bg-img(bg-breadcrumb-tip, png, 10px, em(0), center);
				@include position( absolute, em(0) em(-13) 0 0 );
				display: block;
				width: em(18);
				height: em(28);
			}

			&:last-child {

				&:after {
					width: 0;
					height: 0;
				}
			}

			// Current directory (not an href)
			&.current {
				margin-left: em(18);
			}

			&.root {

				a {
					@include image-replacement(16px, em(28));
					@include bg-img(icon-breadcrumb-home, png, 16px, center, center, no-repeat);
					@include transition( opacity 0.2s ease-in-out );

					&:hover {
						opacity: 0.7;
					}
				}
			}
		}

		li a {
			$height: em(28);
			color: darken( $color-tan-mid, 40 );
			display: block;
			height: $height;
			line-height: $height;
			padding: 0 em(15);

			&:hover {
				color: darken( $color-tan-mid, 60 );
			}
		}
	}

	// Wrap for List (Table) View
	.view-list {
		border: $border-default;
		height: 320px;
		margin-bottom: -1px;
		overflow-y: scroll;
		text-align: left;
		z-index: 1;
		-webkit-overflow-scrolling: touch;

		table {
			width: 100%;

			&.is-hidden {
				border-collapse: collapse;
				height: 0;

				thead, tr, th, td {
					height: 0;
					line-height: 0;
				}
			}
		}

		thead {
			background-color: lighten( $color-tan-light, 2 );
		}

		th,
		td {
			border: 0;
			vertical-align: middle;
		}

		th {
			color: darken( $color-tan-mid, 25 );
			font-size: 80%;
			//font-weight: normal;
			text-align: left;
			padding: {
				top: em(15);
				right: em(8);
				bottom: em(15);
				left: em(8);
			}

			&.sorting-asc:after,
			&.sorting-desc:after {
				content: ' ';
				display: inline-block;
				margin-left: 5px;
				width: 8px;
				height: 4px;
			}

			&.sorting-asc:after {
				@include bg-img(icon-arrow-ascending, png, 8px, 0, center, no-repeat);
			}

			&.sorting-desc:after {
				@include bg-img(icon-arrow-descending, png, 8px, 0, center, no-repeat);
			}
		}

		td {
			padding: em(8);

			a {
				color: $color-gray-dark;
			}
		}

		tr {
			border-bottom: 1px solid lighten( $color-tan-mid, 12 );
			@include transition( all 0.2 ease-in-out );

			&.is-highlighted {

				td {
					background-color: $color-blue-light;
				}

				td,
				.time {
					color: $color-white;
				}
			}
		}

		.head-name {
			width: 65%;
		}

		.head-size {
			width: 15%;
		}

		.head-date {
			width: 20%;
		}

		// Icons
		.is-file,
		.is-directory {
			padding-left: em(35);
		}

		.is-directory {
			@include bg-img(icon-view-list-directory, png, 18px, em(8), center);
			//cursor: alias;
		}

		.is-file {
			@include bg-img(icon-view-list-file, png, 13px, em(12), center);
		}

		span.time {
			color: $color-gray;
			font-size: 80%;
			line-height: 90%;
			white-space: nowrap;
		}

		.error-no-results {
			padding: em(35) em(15) em(15) em(15);
			text-align: center;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			.btn {
				float: none;
			}
		}
	}
}