//  $$$$$$\           $$\ $$\                           $$$$$$$\                                $$\
//  \_$$  _|          $$ |\__|                          $$  __$$\                               \__|
//    $$ |  $$$$$$$\  $$ |$$\ $$$$$$$\   $$$$$$\        $$ |  $$ | $$$$$$\   $$$$$$\ $$\    $$\ $$\  $$$$$$\  $$\  $$\  $$\
//    $$ |  $$  __$$\ $$ |$$ |$$  __$$\ $$  __$$\       $$$$$$$  |$$  __$$\ $$  __$$\\$$\  $$  |$$ |$$  __$$\ $$ | $$ | $$ |
//    $$ |  $$ |  $$ |$$ |$$ |$$ |  $$ |$$$$$$$$ |      $$  ____/ $$ |  \__|$$$$$$$$ |\$$\$$  / $$ |$$$$$$$$ |$$ | $$ | $$ |
//    $$ |  $$ |  $$ |$$ |$$ |$$ |  $$ |$$   ____|      $$ |      $$ |      $$   ____| \$$$  /  $$ |$$   ____|$$ | $$ | $$ |
//  $$$$$$\ $$ |  $$ |$$ |$$ |$$ |  $$ |\$$$$$$$\       $$ |      $$ |      \$$$$$$$\   \$  /   $$ |\$$$$$$$\ \$$$$$\$$$$  |
//  \______|\__|  \__|\__|\__|\__|  \__| \_______|      \__|      \__|       \_______|   \_/    \__| \_______| \_____\____/
//
//
//

.fileclerk .preview {
	@include image_replacement( em(30), em(25) );
	@include transition( all 0.3s ease-in-out );
	@include bg-img(icon-preview-image, png, 20px, center, center);
	opacity: 0.5;
	vertical-align: middle;

	&:hover,
	&.active {
		opacity: 1.0;
	}
}

.fileclerk .inline-preview {
	@include box-sizing(border-box);
	background-color: $color-white;
	border: 1px solid $color-tan-mid;
	border-radius: 3px;
	box-shadow: 0 0 1px rgba( $color-black, 0.2 );
	display: block;
	height: em($inline-preview-size);
	overflow: visible;
	padding: em($inline-preview-pad * 2) em($inline-preview-pad) em($inline-preview-pad) em($inline-preview-pad);
	width: em($inline-preview-size);
	z-index: 100;

	&.is-hidden {
		@include transition( opacity 0.1s ease-out );
		height: 0;
		opacity: 0;
		padding: 0;
	}

	&.is-visible {
		@include transition( opacity 0.2s ease-in );
		opacity: 1.0;
	}

	// Where it loads
	.load {
		@include box-sizing(border-box);
		height: em( $inline-preview-size - ($inline-preview-pad * 2) - $inline-preview-pad );
		overflow-y: scroll;
		text-align: center;
		width: 100%;
		-ms-overflow-style: none; // Hide IE10+ scrollbar

		img {
			display: inline-block;
			float: none;
			max-width: 100%;

			@include media($small) {
				max-width: em($inline-preview-size - ($inline-preview-pad * 2));
			}
		}
	}

	.modal-close {
		$close-size: 25;
		@include position( absolute, em(4) em($inline-preview-pad - 8) 0 0 );
		@include image_replacement( em($close-size), em($close-size) );
		@include bg-img(icon-preview-close, png, 8px, center, center);
		@include transition( all 0.3s ease-in-out );
		opacity: 0.7;

		&:hover {
			opacity: 1.0;
		}
	}
}