//  $$\   $$\           $$\                           $$\
//  $$ |  $$ |          $$ |                          $$ |
//  $$ |  $$ | $$$$$$\  $$ | $$$$$$\   $$$$$$\   $$$$$$$ |
//  $$ |  $$ |$$  __$$\ $$ |$$  __$$\  \____$$\ $$  __$$ |
//  $$ |  $$ |$$ /  $$ |$$ |$$ /  $$ | $$$$$$$ |$$ /  $$ |
//  $$ |  $$ |$$ |  $$ |$$ |$$ |  $$ |$$  __$$ |$$ |  $$ |
//  \$$$$$$  |$$$$$$$  |$$ |\$$$$$$  |\$$$$$$$ |\$$$$$$$ |
//   \______/ $$  ____/ \__| \______/  \_______| \_______|
//            $$ |
//            $$ |
//            \__|

.fileclerk {

	.view-upload {
		@include transition( max-height 0.5s ease );
		@include clearfix;
	}

	// ACTION bar
	.action-bar {
		background-color: $color-white;
		@include background-image(linear-gradient( $color-white, $color-tan-light ));
		border: $border-default;
		padding: em(8);
		text-align: right;
	}

	// File Wrapper -- http://viget.com/inspire/custom-file-inputs-with-a-bit-of-jquery
	.file-wrapper {
		cursor: pointer;
		display: inline-block;
		margin: em(25) auto;
		padding: em(2);
		overflow: hidden;
		position: relative;
		width: auto;

		input {
			border: 0;
			cursor: pointer;
			font-size: em(100);
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			filter: alpha(opacity=1); // IE
			opacity: 0.01;
			width: 100%;
		}

		&.is-hidden {
			margin: 0;
			height: 0;
		}
	}

	.progress-bar {
		@include clearfix;
		margin: em(25) 0;

		&.is-hidden {
			margin: 0;
		}
	}

	// Successfull Upload
	.upload-success {

		span {
			@include bg-img(icon-success, png, 23px, 0, center);
			padding-left: 30px;
		}
	}
}