//  $$$$$$$$\                                               $$\      $$\
//  $$  _____|                                              $$$\    $$$ |
//  $$ |       $$$$$$\   $$$$$$\   $$$$$$\   $$$$$$\        $$$$\  $$$$ | $$$$$$\   $$$$$$$\  $$$$$$$\  $$$$$$\   $$$$$$\   $$$$$$\   $$$$$$$\
//  $$$$$\    $$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\       $$\$$\$$ $$ |$$  __$$\ $$  _____|$$  _____| \____$$\ $$  __$$\ $$  __$$\ $$  _____|
//  $$  __|   $$ |  \__|$$ |  \__|$$ /  $$ |$$ |  \__|      $$ \$$$  $$ |$$$$$$$$ |\$$$$$$\  \$$$$$$\   $$$$$$$ |$$ /  $$ |$$$$$$$$ |\$$$$$$\
//  $$ |      $$ |      $$ |      $$ |  $$ |$$ |            $$ |\$  /$$ |$$   ____| \____$$\  \____$$\ $$  __$$ |$$ |  $$ |$$   ____| \____$$\
//  $$$$$$$$\ $$ |      $$ |      \$$$$$$  |$$ |            $$ | \_/ $$ |\$$$$$$$\ $$$$$$$  |$$$$$$$  |\$$$$$$$ |\$$$$$$$ |\$$$$$$$\ $$$$$$$  |
//  \________|\__|      \__|       \______/ \__|            \__|     \__| \_______|\_______/ \_______/  \_______| \____$$ | \_______|\_______/
//                                                                                                               $$\   $$ |
//                                                                                                               \$$$$$$  |
//                                                                                                                \______/

.fileclerk .error-message {
	@include animation( fadeIn .7s );
	@include animation-fill-mode( both );
	padding: em(25);

	&.no-render {
		padding: 0;

		ul {
			@include bg-img(icon-warning, png, 16px, 10px, center);
			margin-top: 15px;
			padding: 0 0 0 34px;
			text-align: left;
		}
	}

	ul {
		@include clearfix;
		list-style-type: none;
		margin: 0;
		padding: em(15) 0;
		text-align: center;

		li {
			display: inline-block;

			a {
				width: em(120);
			}
		}
	}

	pre {
		background-color: darken( $color-tan-light, 5 );
		color: darken( $color-tan-mid, 60 );
		display: inline-block;
		padding: 2px 5px;
	}

	.cancel {
		@include transition( all 0.2s ease-in-out );
		@include bg-img(icon-cancel, png, 14px, 0, center);
		color: $color-gray-lighter;
		font: {
			size: em(15);
			weight: 600;
		}
		padding-left: 16px;
		text-transform: uppercase;

		&:hover {
			color: $color-gray-light;
		}
	}

	.btn {
		float:  none;
	}
}