{{ list }}
	{{ if is_file }}
	<tr class="file">
		<td class="is-file" scope="row" data-title="title"><a href="{{ url }}" target="_blank">{{ filename }}</a></td>
		<td data-title="Size">{{ size }}</td>
		<td data-title="Date Modified">{{ last_modified format="m/j/Y" }} <span class="time">{{ last_modified format="h:i A" }}</span></td>
	</tr>
	{{ elseif is_directory }}
	<tr class="directory">
		<td class="is-directory" scope="row" data-title="title" data-uri="{{ uri }}">{{ filename }}</td>
		<td data-title="Size">--</td>
		<td data-title="Date Modified">{{ last_modified format="m/j/Y" }} <span class="time">{{ last_modified format="h:i A" }}</span></td>
	</tr>
	{{ endif }}
{{ /list }}