<div class="s3files file-field-container">
	<!--
	<input class="postUrl" name="postUrl" type="hidden" value="{{ action }}">
	{{ if field_data }}
	<div class="result is-visible">
		 <p><span class="filename-display">{{ basename_value }}</span></p>
		 <a class="btn btn-small btn-remove" href="#">Remove</a>
		 <input class="successful-upload" name="{{ name }}" type="hidden" value="{{ value }}">
	 </div>
	{{ else }}
	<div class="fileinput">
		<p><input class="file-upload" id="s3files-upload-{{ id }}" type="file" name="files" tabindex="{{ tabindex }}"></p>
		<button class="btn-upload btn btn-small is-hidden">Upload</button>
	</div>
	<div class="progress is-hidden">
		<div class="progress-filename clearfix">
			<p>Uploading&hellip;</p>
		</div>
		<div class="progress-bar clearfix">
			<progress class="uploading" value="0" min="0" max="100"></progress>
			<div class="prc"></div>
		</div>
	</div>
	<div class="result">
		<input type="hidden" class="successful-upload" id="{{ name }}" name="{{ name }}" type="text" value="">
	</div>
	{{ endif }}

	<p>
		<a href="/TRIGGER/s3files/choosefile">Choose a File &#187;</a>
	</p>
	-->

	<div class="s3-add-file">
		<ul class="nav nav-tabs tabs">
			<li class="active"><a href="#view-upload-{{ id }}" data-toggle="tab" title="Upload New">Upload New</a></li><li><a href="#view-remote-{{ id }}" data-toggle="tab" title="Choose Existing">Choose Existing</a></li>
		</ul>
		<div class="tab-content content">
			<div class="tab-pane active view-upload" id="view-upload-{{ id }}">
				<div class="choose-file">
					<a class="button button-light" href="#"><span class="button-icon-upload">Upload File</span></a>
					<div class="progress">
						<div class="progress-bar is-hidden">
							<progress class="uploading" value="0" min="0" max="100"></progress>
							<div class="prc"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane view-remote" id="view-remote-{{ id }}">
				<div class="inner">

					<div class="s3-view">
						<div class="s3-view-inner">
							<div class="view-list">
								<table class="tablesorter">
									<thead>
										<tr>
											<th class="head-name">Name</th>
											<th class="head-size">Size</th>
											<th class="head-modifed">Date Modified</th>
										</tr>
									</thead>
									<tbody>
										<tr class="file">
											<td class="is-file">Bob-Odenkirk.png</td>
											<td>46 KB</td>
											<td>3/22/2014 <span class="time">11:35 AM</span></td>
										</tr>
										<tr class="directory">
											<td class="is-directory">boom</td>
											<td>--</td>
											<td></td>
										</tr>
										<tr class="file">
											<td class="is-file">kill-it-with-fire.gif</td>
											<td>1.1 MB</td>
											<td>3/22/2014 <span class="time">11:43 AM</span></td>
										</tr>
										<tr class="file">
											<td class="is-file">kurt-rambis-avatar-square.jpg</td>
											<td>20 KB</td>
											<td>3/21/2014 <span class="time">4:15 PM</span></td>
										</tr>
										<tr class="file">
											<td class="is-file">Password.png</td>
											<td>33 KB</td>
											<td>3/22/2014 <span class="time">11:48 AM</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="action-bar">
							<a class="button button-light" href="#">Cancel</a>
							<a class="button button-blue" href="#">Select</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>