<div class="s3files file-field-container">
 	<input class="postUrl" name="postUrl" type="hidden" value="{{ action }}">
 	{{ if field_data }}
	<div class="result is-visible">
		 <p><span class="filename-display">{{ basename_value }}</span></p>
		 <a class="btn btn-small btn-remove" href="#">Remove</a>
		 <input class="successful-upload" name="{{ name }}" type="hidden" value="{{ value }}">
	 </div>
	{{ else }}
	<div class="fileinput">
		<p><input class="file-upload" id="s3files-upload-{{ id }}" type="file" name="files" tabindex="{{ tabindex }}"></p>
	 	<button class="btn-upload btn btn-small is-hidden">Upload</button>
 	</div>
 	<div class="progress is-hidden">
		<div class="progress-filename clearfix">
			<p>Uploading&hellip;</p>
	 	</div>
	 	<div class="progress-bar clearfix">
			<progress class="uploading" value="0" min="0" max="100"></progress>
			<div class="prc"></div>
		</div>
 	</div>
	<div class="result">
		<input type="hidden" class="successful-upload" id="{{ name }}" name="{{ name }}" type="text" value="">
	</div>
	{{ endif }}
	<p>
		<a href="/TRIGGER/s3files/choosefile">Choose a File &#187;</a>
	</p>
</div>