{{ list }}
	{{ if is_file }}
	<tr class="file" data-file="{{ url }}" data-filename="{{ filename }}" data-extension="{{ extension }}" data-size="{{ size }}" data-size-bytes="{{ size_bytes }}" data-size-kilobytes="{{ size_kilobytes }}" data-size-megabytes="{{ size_megabytes }}" data-size-gigabytes="{{ size_gigabytes }}" data-is-image="{{ is_image }}">
		<td class="is-file" scope="row">
			<span class="filename">{{ filename }}</span>
			<a href="{{ url }}" class="preview preview--choose-existing" rel="{{ if is_image == "true" }}inline{{ else }}external{{ endif }}">Preview</a>
			<div class="inline-preview is-hidden">
				<a class="modal-close" href="#">Close</a>
				<div class="load"><img src=""><div class="ajax-spinner"></div></div>
			</div>
		</td>
		<td>{{ size }}</td>
		<td>{{ last_modified format="m/j/Y" }} <span class="time">{{ last_modified format="h:i A" }}</span></td>
	</tr>
	{{ elseif is_directory }}
	<tr class="directory">
		<td class="is-directory" scope="row" data-uri="{{ uri }}" data-destination="{{ destination }}">{{ filename }}</td>
		<td>--</td>
		<td>--</td>
	</tr>
	{{ endif }}
{{ /list }}