<div class="fileclerk file-field-container">

	<div class="add-file {{ if value }}is-hidden{{ else }}is-visible{{ endif }}">
		<ul class="nav nav-tabs tabs">
			<li class="active"><a href="#view-upload-{{ id }}" data-toggle="tab" title="Upload New">Upload New</a></li><li><a href="#view-remote-{{ id }}" data-toggle="tab" data-destination="{{ destination }}" title="Choose Existing" class="load_existing">Choose Existing</a></li>
		</ul>
		<div class="tab-content content">

			<div class="tab-pane active view-upload fade in" id="view-upload-{{ id }}">
				<input class="postUrl" name="postUrl" type="hidden" value="{{ action }}">
				<div class="choose-file">
					<div class="file-wrapper">
						<input class="file-upload" type="file" name="files">
						<span class="button button-light large" href="#"><span class="button-icon-upload">Upload File</span></span>
					</div>
					<div class="upload-error is-hidden">
					</div>
					<div class="progress-bar clearfix is-hidden">
						<progress class="uploading" value="0" min="0" max="100"></progress>
						<div class="prc"></div>
					</div>
				</div>
			</div>

			<div class="tab-pane view-remote fade" id="view-remote-{{ id }}">
				<ul class="breadcrumb">
					<li class="root"><a href="#">fileclerk</a></li>
				</ul>
				<div class="view-list">
					<div class="ajax-spinner"></div>
					<div class="ajax-overlay is-hidden"></div>
					<table class="tablesort">
						<thead>
							<tr>
								<th class="head-name" data-sort="string-ins">Name</th>
								<th class="head-size" data-sort="size">Size</th>
								<th class="head-modifed" data-sort="date">Date Modified</th>
							</tr>
						</thead>
						<tbody>
							{{ if directories }}
							{{ directories }}
							<tr class="directory">
								<td class="is-directory" scope="row">{{ filename }}</td>
								<td>--</td>
								<td>{{ last_modified format="m/j/Y" }} <span class="time">{{ last_modified format="h:i A" }}</span></td>
							</tr>
							{{ /directories }}
							{{ endif }}
							{{ if files }}
							{{ files }}
							<tr class="file" data-file="{{ file }}">
								<td class="is-file" scope="row"><a href="{{ url }}" target="_blank">{{ filename }}</a></td>
								<td>{{ size }}</td>
								<td>{{ last_modified format="m/j/Y" }} <span class="time">{{ last_modified format="h:i A" }}</span></td>
							</tr>
							{{ /files }}
							{{ endif }}
						</tbody>
					</table>
				</div>
				<div class="action-bar">
					<button class="button button-blue" data-action="select_file" disabled>Select File</button>
				</div>
			</div>

		</div>
	</div>

	<div class="result {{ if value }}is-visible{{ else }}is-hidden{{ endif }}">
		<p><span class="filename-display"><a href="{{ value }}" rel="external">{{ basename_value }}</a></span></p><a class="btn btn-small btn-remove" href="#">Remove</a>
		<input type="hidden" name="{{ name }}" id="{{ name }}" class="successful-upload" value="{{ value }}">
		<input type="hidden" name="{{ name }}[0][url]" class="hidden-url" value="{{ url }}">
		<input type="hidden" name="{{ name }}[0][filename]" class="hidden-filename" value="{{ filename }}">
		<input type="hidden" name="{{ name }}[0][extension]" class="hidden-extension" value="{{ extension }}">
		<input type="hidden" name="{{ name }}[0][size]" class="hidden-size" value="{{ size }}">
	</div>
</div>
