.fileclerk .animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.fileclerk .is-hidden {
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.fileclerk .is-visible {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  height: auto;
  visibility: visible;
  opacity: 1.0;
  overflow: auto;
}
.fileclerk .fade {
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
.fileclerk .fade.in {
  opacity: 1;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeInOut {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeInOut {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -o-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
  }
  80% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -o-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
  }
  80% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -o-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
  }
  80% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -o-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
  }
  80% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fileclerk .button,
.fileclerk button {
  display: inline-block;
  line-height: 25px;
  padding: 2px 15px;
  white-space: nowrap;
  border: none;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 500;
  overflow: hidden;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.fileclerk .button:active,
.fileclerk button:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
.fileclerk .button.large,
.fileclerk button.large {
  font-size: 1.125em;
  line-height: 2em;
  padding: 0.1875em 1.0625em;
}
.fileclerk .button.button-blue,
.fileclerk button.button-blue {
  background-color: #7AA5B2;
  background-image: -webkit-linear-gradient( #8AB0BB, #7AA5B2);
  background-image: linear-gradient( #8AB0BB, #7AA5B2);
  border-bottom: 1px solid #6A9AA8;
  color: #ffffff;
}
.fileclerk .button.button-blue:hover,
.fileclerk button.button-blue:hover {
  background-color: #5b8e9e;
  background-image: -webkit-linear-gradient( #6a9aa8, #5b8e9e);
  background-image: linear-gradient( #6a9aa8, #5b8e9e);
}
.fileclerk .button.button-blue:active,
.fileclerk button.button-blue:active {
  background-color: #568694;
  background-image: -webkit-linear-gradient( #6094a3, #568694);
  background-image: linear-gradient( #6094a3, #568694);
}
.fileclerk .button.button-blue:disabled,
.fileclerk button.button-blue:disabled {
  background: #F4F4F0;
  background-image: none;
  border-bottom-color: #d4d4c4;
  box-shadow: none;
  color: #c5c5b3;
  cursor: not-allowed;
  text-shadow: none;
}
.fileclerk .button.button-light,
.fileclerk button.button-light {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient( #ffffff, #F4F4F0);
  background-image: linear-gradient( #ffffff, #F4F4F0);
  border-top: 1px solid #D7D7CA;
  border-right: 1px solid #D7D7CA;
  border-bottom: 1px solid #c1c1ad;
  border-left: 1px solid #D7D7CA;
  color: #366274;
  text-shadow: none;
}
.fileclerk .button.button-light:hover,
.fileclerk button.button-light:hover {
  background-image: -webkit-linear-gradient( #fdfdfc, #eeeee7);
  background-image: linear-gradient( #fdfdfc, #eeeee7);
}
.fileclerk .button.button-light:active,
.fileclerk button.button-light:active {
  background-image: -webkit-linear-gradient( #f6f6f3, #e7e7de);
  background-image: linear-gradient( #f6f6f3, #e7e7de);
  color: #264551;
}
.fileclerk .button span.button-icon-upload,
.fileclerk button span.button-icon-upload {
  background: url("../assets/build/img/icon-upload.png") 0 center no-repeat;
  padding-left: 1.8125em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .button span.button-icon-upload,
  .fileclerk button span.button-icon-upload {
    background: url("../assets/build/img/icon-upload@2x.png") 0 center no-repeat;
    background-size: 19px auto;
  }
}
.fileclerk .btn.btn-remove {
  margin: 10px;
}
@media screen and (max-width: 480px) {
  .fileclerk .btn.btn-remove {
    margin: 15px 0 0 0;
  }
}

.fileclerk .progress {
  width: 100%;
}
.fileclerk .progress-bar {
  padding: 0 15px 10px 15px;
}
.fileclerk .progress-bar.is-hidden {
  padding: 0;
}
.fileclerk .progress-bar progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #EDEDE7;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #4AAE4E;
  height: 20px;
  overflow: hidden;
  width: 90%;
  float: left;
}
.fileclerk .progress-bar progress[value]::-webkit-progress-bar {
  background-color: #EDEDE7;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.fileclerk .progress-bar progress[value]::-webkit-progress-value {
  background: #4AAE4E;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
.fileclerk .progress-bar progress[value]::-moz-progress-bar {
  background: #4AAE4E;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
.fileclerk .progress-bar .prc {
  width: 10%;
  color: #AAAAAA;
  float: right;
  font-size: 80%;
  text-align: center;
}
@-webkit-keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
  100% {
    background-position: -100px 0px;
  }
}
@-moz-keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
  100% {
    background-position: -100px 0px;
  }
}
@-o-keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
  100% {
    background-position: -100px 0px;
  }
}
@keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
  100% {
    background-position: -100px 0px;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.fileclerk,
.fileclerk:before,
.fileclerk:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fileclerk {
  min-height: 52px;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .fileclerk {
    padding-bottom: 0;
  }
  .fileclerk .btn {
    margin-top: 15px;
  }
}
.fileclerk.file-field-container img {
  max-height: inherit;
  max-width: inherit;
}
.fileclerk p, .fileclerk li {
  line-height: 1.4;
}
.fileclerk p {
  padding-top: 15px;
}
.fileclerk pre {
  margin: 0;
}
.fileclerk.yay {
  -webkit-animation: bounceIn 0.8s;
  -moz-animation: bounceIn 0.8s;
  animation: bounceIn 0.8s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  position: relative;
  z-index: 1;
}
.fileclerk.yay:after {
  -webkit-animation: fadeInOut 4s;
  -moz-animation: fadeInOut 4s;
  animation: fadeInOut 4s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0 0 10px rgba(108, 134, 140, 0.5);
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.fileclerk .filename-display {
  display: inline-block;
  margin: 0.9375em 0 0 0.9375em;
  background: url("../assets/build/img/icon-success.png") 0 center no-repeat;
  padding-left: 30px;
  position: relative;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .filename-display {
    background: url("../assets/build/img/icon-success@2x.png") 0 center no-repeat;
    background-size: 23px auto;
  }
}
@media screen and (max-width: 480px) {
  .fileclerk .filename-display {
    position: inherit;
  }
}
.fileclerk .filename-display a {
  color: #222222;
}
.fileclerk .ajax-spinner {
  background-color: #000000;
  color: #1e3640;
  z-index: 500;
}

.fileclerk .add-file {
  clear: both;
  padding: 0.9375em;
}
.fileclerk .add-file.is-hidden {
  max-height: 0;
  padding: 0;
}
.fileclerk .add-file p {
  float: none;
}
.fileclerk .add-file .tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  text-align: center;
  z-index: 1;
}
.fileclerk .add-file .tabs li {
  border-top: 1px solid #D7D7CA;
  display: inline-block;
}
@media screen and (max-width: 480px) {
  .fileclerk .add-file .tabs li {
    width: 50%;
  }
}
.fileclerk .add-file .tabs li.active a {
  border-bottom: 1px solid #ffffff;
}
.fileclerk .add-file .tabs li.active a,
.fileclerk .add-file .tabs li.active a:hover {
  background-color: #ffffff;
  color: #222222;
}
.fileclerk .add-file .tabs li:first-child.active a {
  margin-right: -1px;
}
.fileclerk .add-file .tabs li:last-child.active a {
  margin-left: -1px;
}
.fileclerk .add-file .tabs li a {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: #e9e9e1;
  border-right: 1px solid #D7D7CA;
  border-bottom: 1px solid #D7D7CA;
  border-left: 1px solid #D7D7CA;
  color: #888867;
  display: block;
}
@media screen and (min-width: 960px) {
  .fileclerk .add-file .tabs li a {
    padding: 0.5em 1.125em;
    width: 10em;
  }
}
@media screen and (min-width: 481px) and (max-width: 959px) {
  .fileclerk .add-file .tabs li a {
    padding: 0.5em 1.125em;
    width: 10em;
  }
}
@media screen and (max-width: 480px) {
  .fileclerk .add-file .tabs li a {
    font-size: 90%;
    padding: 0.5em 0.3125em;
  }
}
.fileclerk .add-file .tabs li a:hover {
  background-color: #D7D7CA;
}
.fileclerk .add-file .tabs li a.disabled {
  cursor: not-allowed;
}
.fileclerk .add-file .content {
  background-color: #ffffff;
  border: 1px solid #D7D7CA;
  margin-top: -1px;
  padding: 0.9375em;
  text-align: center;
}
.fileclerk .add-file .upload-error {
  background-color: #fafaf9;
  border: 1px solid #D7D7CA;
  border-radius: 4px;
}

.fileclerk .result.is-visible {
  overflow: visible;
}
.fileclerk .result.is-hidden {
  overflow: hidden;
}
.fileclerk .result .inline-preview {
  position: absolute;
  top: -19.25em;
  right: -8.25em;
}
@media screen and (max-width: 480px) {
  .fileclerk .result .inline-preview {
    position: absolute;
    top: -19.5em;
    left: 50%;
    margin-left: -9.375em;
  }
}
.fileclerk .result .inline-preview:after {
  position: absolute;
  bottom: -1.4375em;
  left: 8.125em;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #ffffff;
  content: '';
  display: block;
  height: 0;
  width: 0;
  z-index: 4;
}
.fileclerk .result .inline-preview:before {
  position: absolute;
  bottom: -1.5em;
  left: 8.125em;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #D7D7CA;
  content: '';
  display: block;
  height: 0;
  width: 0;
  z-index: 2;
}

.fileclerk .view-upload {
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
  *zoom: 1;
}
.fileclerk .view-upload:before, .fileclerk .view-upload:after {
  content: " ";
  display: table;
}
.fileclerk .view-upload:after {
  clear: both;
}
.fileclerk .action-bar {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient( #ffffff, #F4F4F0);
  background-image: linear-gradient( #ffffff, #F4F4F0);
  border: 1px solid #D7D7CA;
  padding: 0.5em;
  text-align: right;
}
.fileclerk .file-wrapper {
  cursor: pointer;
  display: inline-block;
  margin: 1.5625em auto;
  padding: 0.125em;
  overflow: hidden;
  position: relative;
  width: auto;
}
.fileclerk .file-wrapper input {
  border: 0;
  cursor: pointer;
  font-size: 6.25em;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  filter: alpha(opacity=1);
  opacity: 0.01;
  width: 100%;
}
.fileclerk .file-wrapper.is-hidden {
  margin: 0;
  height: 0;
}
.fileclerk .progress-bar {
  *zoom: 1;
  margin: 1.5625em 0;
}
.fileclerk .progress-bar:before, .fileclerk .progress-bar:after {
  content: " ";
  display: table;
}
.fileclerk .progress-bar:after {
  clear: both;
}
.fileclerk .progress-bar.is-hidden {
  margin: 0;
}
.fileclerk .upload-success span {
  background: url("../assets/build/img/icon-success.png") 0 center no-repeat;
  padding-left: 30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .upload-success span {
    background: url("../assets/build/img/icon-success@2x.png") 0 center no-repeat;
    background-size: 23px auto;
  }
}

.fileclerk .view-remote {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.fileclerk .view-remote .ajax-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.fileclerk .view-remote .preview-position {
  display: inline-block;
}
.fileclerk .view-remote .inline-preview {
  position: absolute;
  top: 4.6875em;
  left: 50%;
  margin-left: -9.375em;
  z-index: 3;
}
.fileclerk .breadcrumb {
  *zoom: 1;
  background-color: #ffffff;
  background-image: -webkit-linear-gradient( #ffffff, #F4F4F0);
  background-image: linear-gradient( #ffffff, #F4F4F0);
  border-top: 1px solid #D7D7CA;
  border-right: 1px solid #D7D7CA;
  border-left: 1px solid #D7D7CA;
  border-radius: 4px 4px 0 0;
  text-align: left;
  margin: 0;
  padding: 0.5em 0;
  vertical-align: middle;
}
.fileclerk .breadcrumb:before, .fileclerk .breadcrumb:after {
  content: " ";
  display: table;
}
.fileclerk .breadcrumb:after {
  clear: both;
}
.fileclerk .breadcrumb li {
  display: block;
  float: left;
  font-size: 90%;
  height: 1.75em;
  line-height: 1.75em;
  padding: 0;
  position: relative;
}
.fileclerk .breadcrumb li:after {
  content: ' ';
  background: url("../assets/build/img/bg-breadcrumb-tip.png") 0em center no-repeat;
  position: absolute;
  top: 0em;
  right: -0.8125em;
  display: block;
  width: 1.125em;
  height: 1.75em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .breadcrumb li:after {
    background: url("../assets/build/img/bg-breadcrumb-tip@2x.png") 0em center no-repeat;
    background-size: 10px auto;
  }
}
.fileclerk .breadcrumb li:last-child:after {
  width: 0;
  height: 0;
}
.fileclerk .breadcrumb li.current {
  margin-left: 1.125em;
}
.fileclerk .breadcrumb li.root a {
  display: inline-block;
  height: 1.75em;
  overflow: hidden;
  width: 16px;
  background: url("../assets/build/img/icon-breadcrumb-home.png") center center no-repeat;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.fileclerk .breadcrumb li.root a:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .breadcrumb li.root a {
    background: url("../assets/build/img/icon-breadcrumb-home@2x.png") center center no-repeat;
    background-size: 16px auto;
  }
}
.fileclerk .breadcrumb li.root a:hover {
  opacity: 0.7;
}
.fileclerk .breadcrumb li a {
  color: #79795c;
  display: block;
  height: 1.75em;
  line-height: 1.75em;
  padding: 0 0.9375em;
}
.fileclerk .breadcrumb li a:hover {
  color: #3f3f30;
}
.fileclerk .view-list {
  border: 1px solid #D7D7CA;
  height: 320px;
  margin-bottom: -1px;
  overflow-y: scroll;
  text-align: left;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.fileclerk .view-list table {
  width: 100%;
}
.fileclerk .view-list table.is-hidden {
  border-collapse: collapse;
  height: 0;
}
.fileclerk .view-list table.is-hidden thead, .fileclerk .view-list table.is-hidden tr, .fileclerk .view-list table.is-hidden th, .fileclerk .view-list table.is-hidden td {
  height: 0;
  line-height: 0;
}
.fileclerk .view-list thead {
  background-color: #f8f8f6;
}
.fileclerk .view-list th,
.fileclerk .view-list td {
  border: 0;
  vertical-align: middle;
}
.fileclerk .view-list th {
  color: #a0a081;
  font-size: 80%;
  text-align: left;
  padding-top: 0.9375em;
  padding-right: 0.5em;
  padding-bottom: 0.9375em;
  padding-left: 0.5em;
}
.fileclerk .view-list th.sorting-asc:after, .fileclerk .view-list th.sorting-desc:after {
  content: ' ';
  display: inline-block;
  margin-left: 5px;
  width: 8px;
  height: 4px;
}
.fileclerk .view-list th.sorting-asc:after {
  background: url("../assets/build/img/icon-arrow-ascending.png") 0 center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .view-list th.sorting-asc:after {
    background: url("../assets/build/img/icon-arrow-ascending@2x.png") 0 center no-repeat;
    background-size: 8px auto;
  }
}
.fileclerk .view-list th.sorting-desc:after {
  background: url("../assets/build/img/icon-arrow-descending.png") 0 center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .view-list th.sorting-desc:after {
    background: url("../assets/build/img/icon-arrow-descending@2x.png") 0 center no-repeat;
    background-size: 8px auto;
  }
}
.fileclerk .view-list td {
  padding: 0.5em;
}
.fileclerk .view-list td a {
  color: #222222;
}
.fileclerk .view-list tr {
  border-bottom: 1px solid #f1f1ed;
  -webkit-transition: all 0.2 ease-in-out;
  -moz-transition: all 0.2 ease-in-out;
  transition: all 0.2 ease-in-out;
}
.fileclerk .view-list tr.is-highlighted td {
  background-color: #8AB0BB;
}
.fileclerk .view-list tr.is-highlighted td,
.fileclerk .view-list tr.is-highlighted .time {
  color: #ffffff;
}
.fileclerk .view-list .head-name {
  width: 65%;
}
.fileclerk .view-list .head-size {
  width: 15%;
}
.fileclerk .view-list .head-date {
  width: 20%;
}
.fileclerk .view-list .is-file,
.fileclerk .view-list .is-directory {
  padding-left: 2.1875em;
}
.fileclerk .view-list .is-directory {
  background: url("../assets/build/img/icon-view-list-directory.png") 0.5em center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .view-list .is-directory {
    background: url("../assets/build/img/icon-view-list-directory@2x.png") 0.5em center no-repeat;
    background-size: 18px auto;
  }
}
.fileclerk .view-list .is-file {
  background: url("../assets/build/img/icon-view-list-file.png") 0.75em center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .view-list .is-file {
    background: url("../assets/build/img/icon-view-list-file@2x.png") 0.75em center no-repeat;
    background-size: 13px auto;
  }
}
.fileclerk .view-list span.time {
  color: #AAAAAA;
  font-size: 80%;
  line-height: 90%;
  white-space: nowrap;
}
.fileclerk .view-list .error-no-results {
  padding: 2.1875em 0.9375em 0.9375em 0.9375em;
  text-align: center;
}
.fileclerk .view-list .error-no-results ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.fileclerk .view-list .error-no-results .btn {
  float: none;
}

.fileclerk .preview {
  display: inline-block;
  height: 1.5625em;
  overflow: hidden;
  width: 1.875em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: url("../assets/build/img/icon-preview-image.png") center center no-repeat;
  opacity: 0.5;
  vertical-align: middle;
}
.fileclerk .preview:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .preview {
    background: url("../assets/build/img/icon-preview-image@2x.png") center center no-repeat;
    background-size: 20px auto;
  }
}
.fileclerk .preview:hover, .fileclerk .preview.active {
  opacity: 1.0;
}

.fileclerk .inline-preview {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #D7D7CA;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  display: block;
  height: 18.75em;
  overflow: visible;
  padding: 1.875em 0.9375em 0.9375em 0.9375em;
  width: 18.75em;
  z-index: 100;
}
.fileclerk .inline-preview.is-hidden {
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  height: 0;
  opacity: 0;
  padding: 0;
}
.fileclerk .inline-preview.is-visible {
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 1.0;
}
.fileclerk .inline-preview .load {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 15.9375em;
  overflow-y: scroll;
  text-align: center;
  width: 100%;
  -ms-overflow-style: none;
}
.fileclerk .inline-preview .load img {
  display: inline-block;
  float: none;
  max-width: 100%;
}
@media screen and (max-width: 480px) {
  .fileclerk .inline-preview .load img {
    max-width: 16.875em;
  }
}
.fileclerk .inline-preview .modal-close {
  position: absolute;
  top: 0.25em;
  right: 0.4375em;
  display: inline-block;
  height: 1.5625em;
  overflow: hidden;
  width: 1.5625em;
  background: url("../assets/build/img/icon-preview-close.png") center center no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}
.fileclerk .inline-preview .modal-close:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .inline-preview .modal-close {
    background: url("../assets/build/img/icon-preview-close@2x.png") center center no-repeat;
    background-size: 8px auto;
  }
}
.fileclerk .inline-preview .modal-close:hover {
  opacity: 1.0;
}

.fileclerk .error-message {
  -webkit-animation: fadeIn 0.7s;
  -moz-animation: fadeIn 0.7s;
  animation: fadeIn 0.7s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 1.5625em;
}
.fileclerk .error-message.no-render {
  padding: 0;
}
.fileclerk .error-message.no-render ul {
  background: url("../assets/build/img/icon-warning.png") 10px center no-repeat;
  margin-top: 15px;
  padding: 0 0 0 34px;
  text-align: left;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .error-message.no-render ul {
    background: url("../assets/build/img/icon-warning@2x.png") 10px center no-repeat;
    background-size: 16px auto;
  }
}
.fileclerk .error-message ul {
  *zoom: 1;
  list-style-type: none;
  margin: 0;
  padding: 0.9375em 0;
  text-align: center;
}
.fileclerk .error-message ul:before, .fileclerk .error-message ul:after {
  content: " ";
  display: table;
}
.fileclerk .error-message ul:after {
  clear: both;
}
.fileclerk .error-message ul li {
  display: inline-block;
}
.fileclerk .error-message ul li a {
  width: 7.5em;
}
.fileclerk .error-message pre {
  background-color: #e9e9e1;
  color: #3f3f30;
  display: inline-block;
  padding: 2px 5px;
}
.fileclerk .error-message .cancel {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: url("../assets/build/img/icon-cancel.png") 0 center no-repeat;
  color: #BBBBBA;
  font-size: 0.9375em;
  font-weight: 600;
  padding-left: 16px;
  text-transform: uppercase;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .error-message .cancel {
    background: url("../assets/build/img/icon-cancel@2x.png") 0 center no-repeat;
    background-size: 14px auto;
  }
}
.fileclerk .error-message .cancel:hover {
  color: #999999;
}
.fileclerk .error-message .btn {
  float: none;
}

/*# sourceMappingURL=fileclerk.css.map */
