.fileclerk .animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.fileclerk .is-hidden {
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.fileclerk .is-visible {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  height: auto;
  visibility: visible;
  opacity: 1.0;
  overflow: auto;
}
.fileclerk .fade {
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
.fileclerk .fade.in {
  opacity: 1;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeInOut {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeInOut {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0;
  }
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-12px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(6px);
  }

  80% {
    -webkit-transform: translateY(-3px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: translateY(-12px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateY(6px);
  }

  80% {
    -moz-transform: translateY(-3px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: translateY(-12px);
  }

  60% {
    opacity: 1;
    -o-transform: translateY(6px);
  }

  80% {
    -o-transform: translateY(-3px);
  }

  100% {
    -o-transform: translateY(0);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-12px);
  }

  60% {
    opacity: 1;
    transform: translateY(6px);
  }

  80% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.button {
  border: none;
  border-radius: 4px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.75em;
  overflow: hidden;
  padding: 0.125em 0.9375em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  white-space: nowrap;
}
.button:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
.button.large {
  font-size: 1.125em;
  line-height: 2em;
  padding: 0.1875em 1.0625em;
}
.button.button-blue {
  background-color: #7aa5b2;
  background-image: -webkit-linear-gradient( #8ab0bb, #7aa5b2);
  background-image: linear-gradient( #8ab0bb, #7aa5b2);
  border-bottom: 1px solid #6a9aa8;
  color: white;
}
.button.button-blue:hover {
  background-color: #5b8e9e;
  background-image: -webkit-linear-gradient( #6a9aa8, #5b8e9e);
  background-image: linear-gradient( #6a9aa8, #5b8e9e);
}
.button.button-blue:active {
  background-color: #568694;
  background-image: -webkit-linear-gradient( #6094a3, #568694);
  background-image: linear-gradient( #6094a3, #568694);
}
.button.button-blue:disabled {
  background: #f4f4f0;
  background-image: none;
  border-bottom-color: #d4d4c4;
  box-shadow: none;
  color: #c5c5b3;
  text-shadow: none;
}
.button.button-light {
  background-color: white;
  background-image: -webkit-linear-gradient( white, #f4f4f0);
  background-image: linear-gradient( white, #f4f4f0);
  border-top: 1px solid #d7d7ca;
  border-right: 1px solid #d7d7ca;
  border-bottom: 1px solid #c1c1ad;
  border-left: 1px solid #d7d7ca;
  color: #366274;
  text-shadow: none;
}
.button.button-light:hover {
  background-image: -webkit-linear-gradient( #fdfdfc, #eeeee7);
  background-image: linear-gradient( #fdfdfc, #eeeee7);
}
.button.button-light:active {
  background-image: -webkit-linear-gradient( #f6f6f3, #e7e7de);
  background-image: linear-gradient( #f6f6f3, #e7e7de);
  color: #264551;
}
.button span.button-icon-upload {
  background: url("../assets/build/img/icon-upload.png") 0 center no-repeat;
  padding-left: 1.8125em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .button span.button-icon-upload {
    background: url("../assets/build/img/icon-upload@2x.png") 0 center no-repeat;
    background-size: 19px auto;
  }
}

.fileclerk .progress {
  width: 100%;
}
.fileclerk .progress-bar {
  padding: 0 15px 10px 15px;
}
.fileclerk .progress-bar.is-hidden {
  padding: 0;
}
.fileclerk .progress-bar progress {
  width: 90%;
  float: left;
}
.fileclerk .progress-bar progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  height: 20px;
}
.fileclerk .progress-bar progress[value]::-webkit-progress-bar {
  background-color: #EDEDE7;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.fileclerk .progress-bar progress[value]::-webkit-progress-value {
  background-color: #4aae4e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
.fileclerk .progress-bar .prc {
  width: 10%;
  color: #AAAAAA;
  float: right;
  font-size: 80%;
  text-align: center;
}
@-webkit-keyframes animate-stripes {
  .fileclerk 100%  {
    background-position: -100px 0px;
  }
  .fileclerk 100%  {
    background-position: -100px 0px;
  }
}
@-moz-keyframes animate-stripes {
  .fileclerk 100%  {
    background-position: -100px 0px;
  }
  .fileclerk 100%  {
    background-position: -100px 0px;
  }
}
@-o-keyframes animate-stripes {
  .fileclerk 100%  {
    background-position: -100px 0px;
  }
  .fileclerk 100%  {
    background-position: -100px 0px;
  }
}
@keyframes animate-stripes {
  .fileclerk 100%  {
    background-position: -100px 0px;
  }
  .fileclerk 100%  {
    background-position: -100px 0px;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.fileclerk,
.fileclerk:before,
.fileclerk:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fileclerk {
  min-height: 52px;
}
.fileclerk.yay {
  -webkit-animation: bounceIn 0.8s;
  -moz-animation: bounceIn 0.8s;
  animation: bounceIn 0.8s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  position: relative;
  z-index: 1;
}
.fileclerk.yay:after {
  -webkit-animation: fadeInOut 4s;
  -moz-animation: fadeInOut 4s;
  animation: fadeInOut 4s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0 0 10px rgba(108, 134, 140, 0.5);
  display: block;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.fileclerk .filename-display {
  background: url("../assets/build/img/icon-success.png") 0 center no-repeat;
  padding-left: 30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .filename-display {
    background: url("../assets/build/img/icon-success@2x.png") 0 center no-repeat;
    background-size: 23px auto;
  }
}
.fileclerk .filename-display a {
  color: #222222;
}

.fileclerk .add-file {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  padding: 0.9375em;
}
.fileclerk .add-file.is-hidden {
  max-height: 0;
  padding: 0;
}
.fileclerk .add-file p {
  float: none;
}
.fileclerk .add-file .tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  text-align: center;
  z-index: 1;
}
.fileclerk .add-file .tabs li {
  border-top: 1px solid #d7d7ca;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .fileclerk .add-file .tabs li {
    width: 50%;
  }
}
.fileclerk .add-file .tabs li.active a {
  border-bottom: 1px solid white;
}
.fileclerk .add-file .tabs li.active a,
.fileclerk .add-file .tabs li.active a:hover {
  background-color: white;
  color: #222222;
}
.fileclerk .add-file .tabs li:first-child.active a {
  margin-right: -1px;
}
.fileclerk .add-file .tabs li:last-child.active a {
  margin-left: -1px;
}
.fileclerk .add-file .tabs li a {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: #e9e9e1;
  border-right: 1px solid #d7d7ca;
  border-bottom: 1px solid #d7d7ca;
  border-left: 1px solid #d7d7ca;
  color: #888867;
  display: block;
}
@media screen and (min-width: 960px) {
  .fileclerk .add-file .tabs li a {
    padding: 0.5em 1.125em;
    width: 10em;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .fileclerk .add-file .tabs li a {
    padding: 0.5em 1.125em;
    width: 10em;
  }
}
@media screen and (max-width: 767px) {
  .fileclerk .add-file .tabs li a {
    font-size: 90%;
    padding: 0.5em 0.3125em;
  }
}
.fileclerk .add-file .tabs li a:hover {
  background-color: #d7d7ca;
}
.fileclerk .add-file .tabs li a.disabled {
  cursor: not-allowed;
}
.fileclerk .add-file .action-bar {
  background-color: white;
  background-image: -webkit-linear-gradient( white, #f4f4f0);
  background-image: linear-gradient( white, #f4f4f0);
  border: 1px solid #d7d7ca;
  padding: 0.5em;
  text-align: right;
}
.fileclerk .add-file .content {
  background-color: white;
  border: 1px solid #d7d7ca;
  margin-top: -1px;
  padding: 0.9375em;
  text-align: center;
}
.fileclerk .add-file .view-upload {
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
  *zoom: 1;
}
.fileclerk .add-file .view-upload:before, .fileclerk .add-file .view-upload:after {
  content: " ";
  display: table;
}
.fileclerk .add-file .view-upload:after {
  clear: both;
}
.fileclerk .add-file .file-wrapper {
  cursor: pointer;
  display: inline-block;
  margin: 1.5625em auto;
  padding: 0.125em;
  overflow: hidden;
  position: relative;
  width: auto;
}
.fileclerk .add-file .file-wrapper input {
  border: 0;
  cursor: pointer;
  font-size: 6.25em;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  filter: alpha(opacity=1);
  opacity: 0.01;
  width: 100%;
}
.fileclerk .add-file .file-wrapper.is-hidden {
  margin: 0;
  height: 0;
}
.fileclerk .add-file .progress-bar {
  *zoom: 1;
  margin: 1.5625em 0;
}
.fileclerk .add-file .progress-bar:before, .fileclerk .add-file .progress-bar:after {
  content: " ";
  display: table;
}
.fileclerk .add-file .progress-bar:after {
  clear: both;
}
.fileclerk .add-file .progress-bar.is-hidden {
  margin: 0;
}
.fileclerk .add-file .upload-success span {
  background: url("../assets/build/img/icon-success.png") 0 center no-repeat;
  padding-left: 30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .add-file .upload-success span {
    background: url("../assets/build/img/icon-success@2x.png") 0 center no-repeat;
    background-size: 23px auto;
  }
}
.fileclerk .add-file .view-remote {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.fileclerk .add-file .view-remote .ajax-spinner {
  background-color: black;
  color: #1e3640;
  z-index: 500;
}
.fileclerk .add-file .view-remote .ajax-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.fileclerk .add-file .breadcrumb {
  *zoom: 1;
  background-color: white;
  background-image: -webkit-linear-gradient( white, #f4f4f0);
  background-image: linear-gradient( white, #f4f4f0);
  border-top: 1px solid #d7d7ca;
  border-right: 1px solid #d7d7ca;
  border-left: 1px solid #d7d7ca;
  border-radius: 4px 4px 0 0;
  text-align: left;
  margin: 0;
  padding: 0.5em 0;
  vertical-align: middle;
}
.fileclerk .add-file .breadcrumb:before, .fileclerk .add-file .breadcrumb:after {
  content: " ";
  display: table;
}
.fileclerk .add-file .breadcrumb:after {
  clear: both;
}
.fileclerk .add-file .breadcrumb li {
  display: block;
  float: left;
  font-size: 90%;
  height: 1.75em;
  line-height: 1.75em;
  padding: 0;
  position: relative;
}
.fileclerk .add-file .breadcrumb li:after {
  content: ' ';
  background: url("../assets/build/img/bg-breadcrumb-tip.png") 0em center no-repeat;
  position: absolute;
  top: 0em;
  right: -0.8125em;
  display: block;
  width: 1.125em;
  height: 1.75em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .add-file .breadcrumb li:after {
    background: url("../assets/build/img/bg-breadcrumb-tip@2x.png") 0em center no-repeat;
    background-size: 10px auto;
  }
}
.fileclerk .add-file .breadcrumb li:last-child:after {
  width: 0;
  height: 0;
}
.fileclerk .add-file .breadcrumb li.current {
  margin-left: 1.125em;
}
.fileclerk .add-file .breadcrumb li.root a {
  display: block;
  height: 1.75em;
  overflow: hidden;
  width: 16px;
  background: url("../assets/build/img/icon-breadcrumb-home.png") center center no-repeat;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.fileclerk .add-file .breadcrumb li.root a:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .add-file .breadcrumb li.root a {
    background: url("../assets/build/img/icon-breadcrumb-home@2x.png") center center no-repeat;
    background-size: 16px auto;
  }
}
.fileclerk .add-file .breadcrumb li.root a:hover {
  opacity: 0.7;
}
.fileclerk .add-file .breadcrumb li a {
  color: #79795c;
  display: block;
  height: 1.75em;
  line-height: 1.75em;
  padding: 0 0.9375em;
}
.fileclerk .add-file .breadcrumb li a:hover {
  color: #3f3f30;
}
.fileclerk .add-file .view-list {
  border: 1px solid #d7d7ca;
  height: 16.875em;
  margin-bottom: -1px;
  overflow-y: scroll;
  position: relative;
  text-align: left;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.fileclerk .add-file .view-list table {
  width: 100%;
}
.fileclerk .add-file .view-list table.is-hidden {
  border-collapse: collapse;
  height: 0;
}
.fileclerk .add-file .view-list table.is-hidden thead, .fileclerk .add-file .view-list table.is-hidden tr, .fileclerk .add-file .view-list table.is-hidden th, .fileclerk .add-file .view-list table.is-hidden td {
  height: 0;
  line-height: 0;
}
.fileclerk .add-file .view-list thead {
  background-color: #f8f8f6;
}
.fileclerk .add-file .view-list th,
.fileclerk .add-file .view-list td {
  border: 0;
  vertical-align: middle;
}
.fileclerk .add-file .view-list th {
  color: #a0a081;
  font-size: 80%;
  text-align: left;
  padding-top: 0.9375em;
  padding-right: 0.5em;
  padding-bottom: 0.9375em;
  padding-left: 0.5em;
}
.fileclerk .add-file .view-list th.sorting-asc:after, .fileclerk .add-file .view-list th.sorting-desc:after {
  content: ' ';
  display: inline-block;
  margin-left: 5px;
  width: 8px;
  height: 4px;
}
.fileclerk .add-file .view-list th.sorting-asc:after {
  background: url("../assets/build/img/icon-arrow-ascending.png") 0 center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .add-file .view-list th.sorting-asc:after {
    background: url("../assets/build/img/icon-arrow-ascending@2x.png") 0 center no-repeat;
    background-size: 8px auto;
  }
}
.fileclerk .add-file .view-list th.sorting-desc:after {
  background: url("../assets/build/img/icon-arrow-descending.png") 0 center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .add-file .view-list th.sorting-desc:after {
    background: url("../assets/build/img/icon-arrow-descending@2x.png") 0 center no-repeat;
    background-size: 8px auto;
  }
}
.fileclerk .add-file .view-list td {
  padding: 0.5em;
}
.fileclerk .add-file .view-list td a {
  color: #222222;
}
.fileclerk .add-file .view-list tr {
  border-bottom: 1px solid #f1f1ed;
  -webkit-transition: all 0.2 ease-in-out;
  -moz-transition: all 0.2 ease-in-out;
  transition: all 0.2 ease-in-out;
}
.fileclerk .add-file .view-list tr.is-highlighted td {
  background-color: #8ab0bb;
}
.fileclerk .add-file .view-list tr.is-highlighted td,
.fileclerk .add-file .view-list tr.is-highlighted .time {
  color: white;
}
.fileclerk .add-file .view-list .head-name {
  width: 65%;
}
.fileclerk .add-file .view-list .head-size {
  width: 15%;
}
.fileclerk .add-file .view-list .head-date {
  width: 20%;
}
.fileclerk .add-file .view-list .is-file,
.fileclerk .add-file .view-list .is-directory {
  padding-left: 2.1875em;
}
.fileclerk .add-file .view-list .is-directory {
  background: url("../assets/build/img/icon-view-list-directory.png") 0.5em center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .add-file .view-list .is-directory {
    background: url("../assets/build/img/icon-view-list-directory@2x.png") 0.5em center no-repeat;
    background-size: 18px auto;
  }
}
.fileclerk .add-file .view-list .is-file {
  background: url("../assets/build/img/icon-view-list-file.png") 0.75em center no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .add-file .view-list .is-file {
    background: url("../assets/build/img/icon-view-list-file@2x.png") 0.75em center no-repeat;
    background-size: 13px auto;
  }
}
.fileclerk .add-file .view-list span.time {
  color: #aaaaaa;
  font-size: 80%;
  line-height: 90%;
  white-space: nowrap;
}
.fileclerk .add-file .view-list .error-no-results {
  padding: 2.1875em 0.9375em 0.9375em 0.9375em;
  text-align: center;
}
.fileclerk .add-file .view-list .error-no-results ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.fileclerk .add-file .view-list .error-no-results .btn {
  float: none;
}
.fileclerk .add-file .upload-error {
  background-color: #fafaf9;
  border: 1px solid #d7d7ca;
  border-radius: 4px;
}

.fileclerk .error-message {
  -webkit-animation: fadeIn 0.7s;
  -moz-animation: fadeIn 0.7s;
  animation: fadeIn 0.7s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 1.5625em;
}
.fileclerk .error-message.no-render {
  padding: 0;
}
.fileclerk .error-message.no-render ul {
  background: url("../assets/build/img/icon-warning.png") 10px center no-repeat;
  padding: 0 0 0 30px;
  text-align: left;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .error-message.no-render ul {
    background: url("../assets/build/img/icon-warning@2x.png") 10px center no-repeat;
    background-size: 16px auto;
  }
}
.fileclerk .error-message ul {
  *zoom: 1;
  list-style-type: none;
  margin: 0;
  padding: 0.9375em 0;
  text-align: center;
}
.fileclerk .error-message ul:before, .fileclerk .error-message ul:after {
  content: " ";
  display: table;
}
.fileclerk .error-message ul:after {
  clear: both;
}
.fileclerk .error-message ul li {
  display: inline-block;
}
.fileclerk .error-message ul li a {
  width: 7.5em;
}
.fileclerk .error-message pre {
  background-color: #e9e9e1;
  color: #3f3f30;
  display: inline-block;
  padding: 2px 5px;
}
.fileclerk .error-message .cancel {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: url("../assets/build/img/icon-cancel.png") 0 center no-repeat;
  color: #bbbbba;
  font-size: 0.9375em;
  font-weight: 600;
  padding-left: 16px;
  text-transform: uppercase;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
  .fileclerk .error-message .cancel {
    background: url("../assets/build/img/icon-cancel@2x.png") 0 center no-repeat;
    background-size: 14px auto;
  }
}
.fileclerk .error-message .cancel:hover {
  color: #999999;
}
.fileclerk .error-message .btn {
  float: none;
}
