//  $$$$$$$\             $$$$$$\                     $$\   $$\
//  $$  __$$\           $$  __$$\                    $$ |  $$ |
//  $$ |  $$ | $$$$$$\  $$ /  \__|$$$$$$\  $$\   $$\ $$ |$$$$$$\    $$$$$$$\
//  $$ |  $$ |$$  __$$\ $$$$\     \____$$\ $$ |  $$ |$$ |\_$$  _|  $$  _____|
//  $$ |  $$ |$$$$$$$$ |$$  _|    $$$$$$$ |$$ |  $$ |$$ |  $$ |    \$$$$$$\
//  $$ |  $$ |$$   ____|$$ |     $$  __$$ |$$ |  $$ |$$ |  $$ |$$\  \____$$\
//  $$$$$$$  |\$$$$$$$\ $$ |     \$$$$$$$ |\$$$$$$  |$$ |  \$$$$  |$$$$$$$  |
//  \_______/  \_______|\__|      \_______| \______/ \__|   \____/ \_______/
//
//
//

// ---------------------------------------------------------------------------------
// Colors
// ---------------------------------------------------------------------------------

$color-white: 				#ffffff;
$color-black: 				#000000;

$color-gray-dark: 			#222244;

$color-tan-mid: 			#D7D7CA;
$color-tan-light: 			#F4F4F0;

$color-blue-gray-light: 	#6C868C;

// ---------------------------------------------------------------------------------
// BG Image Path
// ---------------------------------------------------------------------------------
$bg-img-path: 		'../assets/img/build/';