//  $$$$$$$\             $$$$$$\                     $$\   $$\
//  $$  __$$\           $$  __$$\                    $$ |  $$ |
//  $$ |  $$ | $$$$$$\  $$ /  \__|$$$$$$\  $$\   $$\ $$ |$$$$$$\    $$$$$$$\
//  $$ |  $$ |$$  __$$\ $$$$\     \____$$\ $$ |  $$ |$$ |\_$$  _|  $$  _____|
//  $$ |  $$ |$$$$$$$$ |$$  _|    $$$$$$$ |$$ |  $$ |$$ |  $$ |    \$$$$$$\
//  $$ |  $$ |$$   ____|$$ |     $$  __$$ |$$ |  $$ |$$ |  $$ |$$\  \____$$\
//  $$$$$$$  |\$$$$$$$\ $$ |     \$$$$$$$ |\$$$$$$  |$$ |  \$$$$  |$$$$$$$  |
//  \_______/  \_______|\__|      \_______| \______/ \__|   \____/ \_______/
//
//
//

// ---------------------------------------------------------------------------------
// Colors
// ---------------------------------------------------------------------------------

$color-white: 				#ffffff;
$color-black: 				#000000;

$color-gray-dark: 			#222222;
$color-gray-mid: 			#1e3640;
$color-gray: 				#AAAAAA;
$color-gray-light: 			#999999;
$color-gray-lighter: 		#BBBBBA;

$color-tan-mid: 			#D7D7CA;
$color-tan-light: 			#F4F4F0;

$color-blue-gray-light: 	#6C868C;

$color-blue-light: 			#8AB0BB;
$color-blue: 				#7AA5B2;
$color-blue-mid: 			#6A9AA8;

$color-green: 				#4AAE4E;

// ---------------------------------------------------------------------------------
// BG Image Path
// ---------------------------------------------------------------------------------
$bg-img-path: 		'../assets/build/img/';

// ---------------------------------------------------------------------------------
// Breakpoints
// ---------------------------------------------------------------------------------

$large: new-breakpoint(min-width 960px); // Desktop-ish
$medium: new-breakpoint(min-width 481px max-width 959px); // Tablet-ish
$small: new-breakpoint(max-width 480px); // Mobileness-ish

// ---------------------------------------------------------------------------------
// Default Variables
// ---------------------------------------------------------------------------------

$border-default: 1px solid $color-tan-mid; // Default Border for elements
$control-bar-element-size: 32; // Used for element sizes. Height for .directory-nav and .option-file-view a
$control-bar-element-border-radius: em(5);

$inline-preview-size: 300; // Inline Preview Size
$inline-preview-pad: 15; // Inline Preview Padding